/*
    Gallery Grid
    ============

*/

@if not variable-exists(layout-base) {
    @error "Gallery Grid layout requires Base layout.";
}

$layout-namespace: l- !default;

$gallery-grid-bases: (
    15,
    20,
) !default;

.#{$layout-namespace}layout.#{$layout-namespace}gallery-grid {

    /*
        1. This is a hack for IE11, otherwise the container goes as wide as the children in a row.
    */
    & > .#{$layout-namespace}layout__inner {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;


        margin: 0;
        padding: 0;
        list-style-type: none;

        width: 0; /* [1] */
        min-width: 100%; /* [1] */

        & > .#{$layout-namespace}box {
            margin: 0;
            flex: 1 1 auto;

            & > * {
                width: 100%;
            }
        }

    }

    /* MODIFIERS */

    /* Widths */
    /*
        1. In Flexbox, with these settings, incomplete rows will have their items stretched to fill,
           (due to flex-grow: 1), so a max-width is necessary.
           This is why Grid is preferred and if supported, added below.
    */
    // Item bases:
    @each $gallery-grid-basis in $gallery-grid-bases {
        &.#{$layout-namespace}gallery-grid--basis-#{$gallery-grid-basis} > .#{$layout-namespace}layout__inner > .#{$layout-namespace}box  {
            flex-basis: #{$gallery-grid-basis}em;
            max-width: #{$gallery-grid-basis}em;
        }
    }


    /* Gutters */

    &.#{$layout-namespace}gallery-grid--gutter--small > .#{$layout-namespace}layout__inner,
    &.#{$layout-namespace}gallery-grid--gutter--s > .#{$layout-namespace}layout__inner {
        margin-left: -($s__sz-s / 2);
        margin-right: -($s__sz-s / 2);
        min-width: calc(100% + #{$s__sz-s});

        & > .#{$layout-namespace}box {
            padding: 0 ($s__sz-s / 2) $s__sz-s ($s__sz-s / 2);
        }
    }

    &.#{$layout-namespace}gallery-grid--gutter--medium > .#{$layout-namespace}layout__inner,
    &.#{$layout-namespace}gallery-grid--gutter--m > .#{$layout-namespace}layout__inner {
        margin-left: -($s__sz-m / 2);
        margin-right: -($s__sz-m / 2);
        min-width: calc(100% + #{$s__sz-m});

        & > .#{$layout-namespace}box {
            padding: 0 ($s__sz-m / 2) $s__sz-m ($s__sz-m / 2);
        }
    }


    &.#{$layout-namespace}gallery-grid--gutter--large > .#{$layout-namespace}layout__inner,
    &.#{$layout-namespace}gallery-grid--gutter--l > .#{$layout-namespace}layout__inner {
        margin-left: -($s__sz-l / 2);
        margin-right: -($s__sz-l / 2);
        min-width: calc(100% + #{$s__sz-l});

        & > .#{$layout-namespace}box {
            padding: 0 ($s__sz-l / 2) $s__sz-l ($s__sz-l / 2);
        }
    }


    /* Alignment */

    &.#{$layout-namespace}gallery-grid--align-center > .#{$layout-namespace}layout__inner {
        justify-content: center;
    }

}

/* GRID */
@supports (display: grid) {
    .#{$layout-namespace}layout.#{$layout-namespace}gallery-grid {
        & > .#{$layout-namespace}layout__inner.#{$layout-namespace}layout__inner {
            display: grid;
            min-width: 100%;

            & > .#{$layout-namespace}box.#{$layout-namespace}box {
                max-width: none;
            }
        }

        // Item bases:
        @each $gallery-grid-basis in $gallery-grid-bases {
            &.#{$layout-namespace}gallery-grid--basis-#{$gallery-grid-basis} > .#{$layout-namespace}layout__inner  {
                grid-template-columns: repeat(auto-fit, minmax(#{$gallery-grid-basis}em, 1fr));
            }
        }


        /* Gutters */

        &.#{$layout-namespace}gallery-grid--gutter--small > .#{$layout-namespace}layout__inner,
        &.#{$layout-namespace}gallery-grid--gutter--s > .#{$layout-namespace}layout__inner  {
            margin: 0;
            grid-gap: $s__sz-s;

            & > .#{$layout-namespace}box {
                padding: 0;
            }
        }

        &.#{$layout-namespace}gallery-grid--gutter--medium > .#{$layout-namespace}layout__inner,
        &.#{$layout-namespace}gallery-grid--gutter--m  > .#{$layout-namespace}layout__inner {
            margin: 0;
            grid-gap: $s__sz-m;

            & > .#{$layout-namespace}box {
                padding: 0;
            }
        }


        &.#{$layout-namespace}gallery-grid--gutter--large > .#{$layout-namespace}layout__inner,
        &.#{$layout-namespace}gallery-grid--gutter--l > .#{$layout-namespace}layout__inner  {
            margin: 0;
            grid-gap: $s__sz-l;

            & > .#{$layout-namespace}box {
                padding: 0;
            }
        }
    }
}