<!--

    HERO

-->
{% assign include_title = "Hero" %}

<h2 id="{{ include_title | slugify }}">{{ include_title }}</h2>

<p>Note the hero pattern used on the live site makes use of the  image cover classes <code>u-image-cover--min-33-33  u-image-cover--min-20--wide</code> but for the purposes of this styleguide various sizes are used.

<p><a href="https://www.npeu.ox.ac.uk/dolfin/parents">Real use of info overlay on hero image</a>.</p>

<div class="u-space--below">

    <fieldset role="presentation" class="c-hero-wrap  d-border--top--thick  d-border--bottom--thick" data-fs-text="center">
        <div class="c-hero  c-info-overlay-wrap">
            <div data-fs-block="border">
                <div class="c-hero__image">
                    <div class="u-image-cover  js-image-cover  u-image-cover--min-50  u-image-cover--min-33-33--wide">
                        <div class="u-image-cover__inner">
                            <img src="/assets/images/patterns/placeholder-3--small.jpg" sizes="100vw" srcset="/assets/images/patterns/placeholder-3--large.jpg 1600w, /assets/images/patterns/placeholder-3--medium.jpg 900w, /assets/images/patterns/placeholder-3--small.jpg 300w" alt="" class="u-image-cover__image" width="200">
                        </div>
                    </div>
                </div>
                
                <details class="c-info-overlay  c-info-overlay--half-width  c-info-overlay--from-right">
                    <summary><span>Details</span><svg focusable="false" aria-hidden="true" width="1.25em" height="1.25em" display="none" class="icon  icon--is-closed"><use xlink:href="#icon-info"></use></svg><svg focusable="false" aria-hidden="true" width="1.25em" height="1.25em" display="none" class="icon  icon--is-open"><use xlink:href="#icon-cross"></use></svg></summary>
                    <div>Image credit info goes here. Can contain <a href="#">links</a> and so on. Just not too long please.</div>
                </details>

                <div class="c-hero__message">
                    <p class="c-hero__message--fluid_text">Hero message or statement. Word count should be around 8-12 words.</p>
                </div>
            </div>
        </div>
    </fieldset>

</div>

<div class="u-space--below">
    <details class="u-padding  d-background--light">
        <summary>Show code:</summary>
        <pre><code class="html">&lt;fieldset role=&quot;presentation&quot; class=&quot;c-hero-wrap  d-border--top--thick  d-border--bottom--thick&quot; data-fs-text=&quot;center&quot;&gt;
    &lt;div class=&quot;c-hero  c-info-overlay-wrap&quot;&gt;
        &lt;div data-fs-block=&quot;border&quot;&gt;
            &lt;div class=&quot;c-hero__image&quot;&gt;
                &lt;div class=&quot;u-image-cover  js-image-cover  u-image-cover--min-50  u-image-cover--min-33-33--wide&quot;&gt;
                    &lt;div class=&quot;u-image-cover__inner&quot;&gt;
                        &lt;img src=&quot;/assets/images/patterns/placeholder-3--small.jpg&quot; sizes=&quot;100vw&quot; srcset=&quot;/assets/images/patterns/placeholder-3--large.jpg 1600w, /assets/images/patterns/placeholder-3--medium.jpg 900w, /assets/images/patterns/placeholder-3--small.jpg 300w&quot; alt=&quot;&quot; class=&quot;u-image-cover__image&quot; width=&quot;200&quot;&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            
            &lt;details class=&quot;c-info-overlay  c-info-overlay--half-width  c-info-overlay--from-right&quot;&gt;
                &lt;summary&gt;&lt;span&gt;Details&lt;/span&gt;&lt;svg ocusable=&quot;false&quot; aria-hidden=&quot;true&quot; width=&quot;1.25em&quot; height=&quot;1.25em&quot; display=&quot;none&quot; class=&quot;icon  icon--is-closed&quot;&gt;&lt;use xlink:href=&quot;#icon-info&quot;&gt;&lt;/use&gt;&lt;/svg&gt;&lt;svg ocusable=&quot;false&quot; aria-hidden=&quot;true&quot; width=&quot;1.25em&quot; height=&quot;1.25em&quot; display=&quot;none&quot; class=&quot;icon  icon--is-open&quot;&gt;&lt;use xlink:href=&quot;#icon-cross&quot;&gt;&lt;/use&gt;&lt;/svg&gt;&lt;/summary&gt;
                &lt;div&gt;Image credit info goes here. Can contain &lt;a href=&quot;#&quot;&gt;links&lt;/a&gt; and so on. Just not too long please.&lt;/div&gt;
            &lt;/details&gt;

            &lt;div class=&quot;c-hero__message&quot;&gt;
                &lt;p class=&quot;c-hero__message--fluid_text&quot;&gt;Hero message or statement. Word count should be around 8-12 words.&lt;/p&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/fieldset&gt;
</code></pre>
    </details>
</div>

<h3 id="hero-limited-width">Hero - CMS limited width</h3>

<p>In order to finely control the width of the message we allow Joomla to specify a width.
The only practical way to implement with is to use an inline style output in the template.</p> 

<div class="u-space--below">

    <fieldset role="presentation" class="c-hero-wrap  d-border--top--thick  d-border--bottom--thick" data-fs-text="center">
        <div class="c-hero  c-info-overlay-wrap">
            <div data-fs-block="border">
                <div class="c-hero__image">
                    <div class="u-image-cover  js-image-cover  u-image-cover--min-50  u-image-cover--min-33-33--wide">
                        <div class="u-image-cover__inner">
                            <img src="/assets/images/patterns/placeholder-3--small.jpg" sizes="100vw" srcset="/assets/images/patterns/placeholder-3--large.jpg 1600w, /assets/images/patterns/placeholder-3--medium.jpg 900w, /assets/images/patterns/placeholder-3--small.jpg 300w" alt="" class="u-image-cover__image" width="200">
                        </div>
                    </div>
                </div>
                
                <details class="c-info-overlay  c-info-overlay--half-width  c-info-overlay--from-right">
                    <summary><span>Details</span><svg focusable="false" aria-hidden="true" width="1.25em" height="1.25em" display="none" class="icon  icon--is-closed"><use xlink:href="#icon-info"></use></svg><svg focusable="false" aria-hidden="true" width="1.25em" height="1.25em" display="none" class="icon  icon--is-open"><use xlink:href="#icon-cross"></use></svg></summary>
                    <div>Image credit info goes here. Can contain <a href="#">links</a> and so on. Just not too long please.</div>
                </details>

                <div class="c-hero__message" style="width: calc(10em + 10%);">
                    <p class="c-hero__message--fluid_text">Hero message or statement. Word count should be around 8-12 words.</p>
                </div>
            </div>
        </div>
    </fieldset>

</div>

<div class="u-space--below">
    <details class="u-padding  d-background--light">
        <summary>Show code:</summary>
        <pre><code class="html">...
    &lt;div class=&quot;c-hero__message&quot; <strong>style=&quot;width: calc(10em + 10%);&quot;</strong>&gt;
  Joomla adds this, for example: ^------------------------------^
...</code></pre>
    </details>
</div>



<h3 id="hero-reversed">Hero - reversed</h3>

<div class="u-space--below">

    <fieldset role="presentation" class="c-hero-wrap  d-border--top--thick  d-border--bottom--thick" data-fs-text="center">
        <div class="c-hero  c-hero--reversed  c-info-overlay-wrap">
            <div data-fs-block="border">
                <div class="c-hero__image">
                    <div class="u-image-cover  js-image-cover  u-image-cover--min-33-33  u-image-cover--min-20--wide">
                        <div class="u-image-cover__inner">
                            <img src="/assets/images/patterns/placeholder-2--small.jpg" sizes="100vw" srcset="/assets/images/patterns/placeholder-2--large.jpg 1600w, /assets/images/patterns/placeholder-2--medium.jpg 900w, /assets/images/patterns/placeholder-2--small.jpg 300w" alt="" class="u-image-cover__image" width="200">
                        </div>
                    </div>
                </div>
                
                <details class="c-info-overlay  c-info-overlay--half-width">
                    <summary><span>Details</span><svg focusable="false" aria-hidden="true" width="1.25em" height="1.25em" display="none" class="icon  icon--is-closed"><use xlink:href="#icon-info"></use></svg><svg focusable="false" aria-hidden="true" width="1.25em" height="1.25em" display="none" class="icon  icon--is-open"><use xlink:href="#icon-cross"></use></svg></summary>
                    <div>Image credit info goes here. Can contain <a href="#">links</a> and so on. Just not too long please.</div>
                </details>

                <div class="c-hero__message">
                    <p class="c-hero__message--fluid_text">Long word for testing. Antidisestablishmentarianism.</p>
                </div>
            </div>
        </div>
    </fieldset>

</div>

<div class="u-space--below">
    <details class="u-padding  d-background--light">
        <summary>Show code:</summary>
        <pre><code class="html">...
    &lt;div class=&quot;c-hero  <strong>c-hero--reversed</strong> ... &quot;&gt;
...</code></pre>
    </details>
</div>

<h3 id="hero-reversed-wide-message-heading-cta">Hero - reversed - wide message - with heading and CTA</h3>

<p>Note the <code>wide</code> modifier is added to the wrapper rather than the individual Hero. 
Otherwise the carousel version of the Hero breaks, so if one needs to be wide, they all do.
See the carousel entry below.
</p>

<div class="u-space--below">

    <fieldset role="presentation" class="c-hero-wrap  c-hero--wide-message  d-border--top--thick  d-border--bottom--thick" data-fs-text="center">
        <div class="c-hero  c-hero--reversed  c-info-overlay-wrap">
            <div data-fs-block="border">
                <div class="c-hero__image">
                    <div class="u-image-cover  js-image-cover  u-image-cover--min-50  u-image-cover--min-33-33--wide">
                        <div class="u-image-cover__inner">
                            <img src="/assets/images/patterns/placeholder-1--small.jpg" sizes="100vw" srcset="/assets/images/patterns/placeholder-1--large.jpg 1600w, /assets/images/patterns/placeholder-1--medium.jpg 900w, /assets/images/patterns/placeholder-1--small.jpg 300w" alt="" class="u-image-cover__image" width="200">
                        </div>
                    </div>
                </div>
                
                <details class="c-info-overlay  c-info-overlay--half-width">
                    <summary><span>Details</span><svg focusable="false" aria-hidden="true" width="1.25em" height="1.25em" display="none" class="icon  icon--is-closed"><use xlink:href="#icon-info"></use></svg><svg focusable="false" aria-hidden="true" width="1.25em" height="1.25em" display="none" class="icon  icon--is-open"><use xlink:href="#icon-cross"></use></svg></summary>
                    <div>Image credit info goes here. Can contain <a href="#">links</a> and so on. Just not too long please.</div>
                </details>

                <div class="c-hero__message">
                    <h1 class="c-hero__message--fluid_heading">Welcome to the NPEU</h1>
                    <p class="c-hero__message--fluid_text">The NPEU (National Perinatal Epidemiology Unit) is a multi-disciplinary research unit which was established at the University of Oxford in 1978</p>
                    <p class="c-hero__cta"><a href="/about" class="c-cta">About the NPEU<svg focusable="false" aria-hidden="true" width="1.25em" height="1.25em" display="none"><use xlink:href="#icon-chevron-right"></use></svg></a></p>
                </div>
            </div>
        </div>
    </fieldset>

</div>

<div class="u-space--below">
    <details class="u-padding  d-background--light">
        <summary>Show code:</summary>
        <pre><code class="html">&lt;div class=&quot;c-hero-wrap  <strong>c-hero--wide-message</strong>  ...&quot; ...&gt;</code></pre>
    </details>
</div>



<h3 id="hero-carousel">Hero - Carousel</h3>


<div class="u-space--below">

    <fieldset role="region" aria-label="banner slides" class="c-hero-wrap  c-hero-carousel  c-hero--wide-message  d-border--top--thick  d-border--bottom--thick">
        <div>
            <nav class="c-hero-carousel__nav" aria-label="banner slides">
                <p data-fs-text="center" role="list">
 
                    <span role="listitem">
                        &ensp;<a href="#banner-slide-1">Slide 1</a>&ensp;
                    </span>
                    
                    <span role="listitem">
                        &ensp;<a href="#banner-slide-2">Slide 2</a>&ensp;
                    </span>
                    
                    <span role="listitem">
                        &ensp;<a href="#banner-slide-3">Slide 3</a>&ensp;
                    </span>

                </p>
            </nav>
            <div tabindex="0" class="c-hero-carousel__scroll-area" role="list">


                    <hr noShade size="1">
                    
                    <div role="listitem" id="banner-slide-1" class="c-hero  c-info-overlay-wrap" data-fs-text="center">
                        <div data-fs-block="border">
                            <div class="c-hero__image">
                                <div class="u-image-cover  js-image-cover  u-image-cover--min-50  u-image-cover--min-33-33--wide">
                                    <div class="u-image-cover__inner">
                                        <img src="/assets/images/patterns/placeholder-3--small.jpg" sizes="100vw" srcset="/assets/images/patterns/placeholder-3--large.jpg 1600w, /assets/images/patterns/placeholder-3--medium.jpg 900w, /assets/images/patterns/placeholder-3--small.jpg 300w" alt="" class="u-image-cover__image" width="200">
                                    </div>
                                </div>
                            </div>
                            
                            <details class="c-info-overlay  c-info-overlay--half-width  c-info-overlay--from-right">
                                <summary><span>Details</span><svg focusable="false" aria-hidden="true" width="1.25em" height="1.25em" display="none" class="icon  icon--is-closed"><use xlink:href="#icon-info"></use></svg><svg focusable="false" aria-hidden="true" width="1.25em" height="1.25em" display="none" class="icon  icon--is-open"><use xlink:href="#icon-cross"></use></svg></summary>
                                <div>Image credit info goes here. Can contain <a href="#">links</a> and so on. Just not too long please.</div>
                            </details>

                            <div class="c-hero__message">
                                <p class="c-hero__message--fluid_text">Hero message or statement. Word count should be around 8-12 words.</p>
                            </div>
                        </div>
                    </div>
                    
                    <hr noShade size="1">

                    <div role="listitem" id="banner-slide-2" class="c-hero  c-hero--reversed  c-info-overlay-wrap" data-fs-text="center">
                        <div data-fs-block="border">
                            <div class="c-hero__image">
                                <div class="u-image-cover  js-image-cover  u-image-cover--min-50  u-image-cover--min-33-33--wide">
                                    <div class="u-image-cover__inner">
                                        <img src="/assets/images/patterns/placeholder-2--small.jpg" sizes="100vw" srcset="/assets/images/patterns/placeholder-2--large.jpg 1600w, /assets/images/patterns/placeholder-2--medium.jpg 900w, /assets/images/patterns/placeholder-2--small.jpg 300w" alt="" class="u-image-cover__image" width="200">
                                    </div>
                                </div>
                            </div>
                            
                            <details class="c-info-overlay  c-info-overlay--half-width">
                                <summary><span>Details</span><svg focusable="false" aria-hidden="true" width="1.25em" height="1.25em" display="none" class="icon  icon--is-closed"><use xlink:href="#icon-info"></use></svg><svg focusable="false" aria-hidden="true" width="1.25em" height="1.25em" display="none" class="icon  icon--is-open"><use xlink:href="#icon-cross"></use></svg></summary>
                                <div>Image credit info goes here. Can contain <a href="#">links</a> and so on. Just not too long please.</div>
                            </details>

                            <div class="c-hero__message">
                                <p class="c-hero__message--fluid_text">Long word for testing. Antidisestablishmentarianism.</p>
                            </div>
                        </div>
                    </div>
                    
                    <hr noShade size="1">

                    <div role="listitem" id="banner-slide-3" class="c-hero  c-hero--reversed  c-info-overlay-wrap" data-fs-text="center">
                        <div data-fs-block="border">
                            <div class="c-hero__image">
                                <div class="u-image-cover  js-image-cover  u-image-cover--min-50  u-image-cover--min-33-33--wide">
                                    <div class="u-image-cover__inner">
                                        <img src="/assets/images/patterns/placeholder-1--small.jpg" sizes="100vw" srcset="/assets/images/patterns/placeholder-1--large.jpg 1600w, /assets/images/patterns/placeholder-1--medium.jpg 900w, /assets/images/patterns/placeholder-1--small.jpg 300w" alt="" class="u-image-cover__image" width="200">
                                    </div>
                                </div>
                            </div>
                            
                            <details class="c-info-overlay  c-info-overlay--half-width">
                                <summary><span>Details</span><svg focusable="false" aria-hidden="true" width="1.25em" height="1.25em" display="none" class="icon  icon--is-closed"><use xlink:href="#icon-info"></use></svg><svg focusable="false" aria-hidden="true" width="1.25em" height="1.25em" display="none" class="icon  icon--is-open"><use xlink:href="#icon-cross"></use></svg></summary>
                                <div>Image credit info goes here. Can contain <a href="#">links</a> and so on. Just not too long please.</div>
                            </details>

                            <div class="c-hero__message">
                                <h1 class="c-hero__message--fluid_heading">Welcome to the NPEU</h1>
                                <p class="c-hero__message--fluid_text">The NPEU (National Perinatal Epidemiology Unit) is a multi-disciplinary research unit which was established at the University of Oxford in 1978</p>
                                <p class="c-hero__cta"><a href="/about" class="c-cta">About the NPEU<svg focusable="false" aria-hidden="true" width="1.25em" height="1.25em" display="none"><use xlink:href="#icon-chevron-right"></use></svg></a></p>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </fieldset>
</div>

<div class="u-space--below">
    <details class="u-padding  d-background--light">
        <summary>Show code:</summary>
        <pre><code class="html">&lt;fieldset role=&quot;region&quot; aria-label=&quot;banner slides&quot; class=&quot;c-hero-wrap  c-hero-carousel  c-hero--wide-message  d-border--top--thick  d-border--bottom--thick &quot;&gt;
    &lt;div&gt;
        &lt;nav class=&quot;c-hero-carousel__nav&quot; aria-label=&quot;banner slides&quot;&gt;
            &lt;p data-fs-text=&quot;center&quot; role=&quot;list&quot;&gt;

                &lt;span role=&quot;listitem&quot;&gt;
                    &amp;ensp;&lt;a href=&quot;#banner-slide-1&quot;&gt;Slide 1&lt;/a&gt;&amp;ensp;
                &lt;/span&gt;

                &lt;span role=&quot;listitem&quot;&gt;
                    &amp;ensp;&lt;a href=&quot;#banner-slide-2&quot;&gt;Slide 2&lt;/a&gt;&amp;ensp;
                &lt;/span&gt;

                &lt;span role=&quot;listitem&quot;&gt;
                    &amp;ensp;&lt;a href=&quot;#banner-slide-3&quot;&gt;Slide 3&lt;/a&gt;&amp;ensp;
                &lt;/span&gt;

            &lt;/p&gt;
        &lt;/nav&gt;
        &lt;div tabindex=&quot;0&quot; class=&quot;c-hero-carousel__scroll-area&quot; role=&quot;list&quot;&gt;

                &lt;hr noShade size=&quot;1&quot;&gt;

                &lt;div role=&quot;listitem&quot; id=&quot;banner-slide-1&quot; class=&quot;c-hero  c-info-overlay-wrap&quot; data-fs-text=&quot;center&quot;&gt;
                    &lt;div data-fs-block=&quot;border&quot;&gt;
                        &lt;div class=&quot;c-hero__image&quot;&gt;
                            ...
                        &lt;/div&gt;

                        &lt;details class=&quot;c-info-overlay  c-info-overlay--half-width&quot;&gt;
                            ...
                        &lt;/details&gt;

                        &lt;div class=&quot;c-hero__message&quot;&gt;
                            ...
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;

                &lt;hr noShade size=&quot;1&quot;&gt;

                &lt;div role=&quot;listitem&quot; id=&quot;banner-slide-2&quot; class=&quot;c-hero  c-hero--reversed  c-info-overlay-wrap&quot; data-fs-text=&quot;center&quot;&gt;
                    &lt;div data-fs-block=&quot;border&quot;&gt;
                        &lt;div class=&quot;c-hero__image&quot;&gt;
                            ...
                        &lt;/div&gt;

                        &lt;details class=&quot;c-info-overlay  c-info-overlay--half-width&quot;&gt;
                            ...
                        &lt;/details&gt;

                        &lt;div class=&quot;c-hero__message&quot;&gt;
                            ...
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;

                &lt;hr noShade size=&quot;1&quot;&gt;

                &lt;div role=&quot;listitem&quot; id=&quot;banner-slide-3&quot; class=&quot;c-hero  c-hero--reversed  c-info-overlay-wrap&quot; data-fs-text=&quot;center&quot;&gt;
                    &lt;div data-fs-block=&quot;border&quot;&gt;
                        &lt;div class=&quot;c-hero__image&quot;&gt;
                            ...
                        &lt;/div&gt;

                        &lt;details class=&quot;c-info-overlay  c-info-overlay--half-width&quot;&gt;
                            ...
                        &lt;/details&gt;

                        &lt;div class=&quot;c-hero__message&quot;&gt;
                            ...
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;

        &lt;/div&gt;
    &lt;/div&gt;
&lt;/fieldset&gt;</code></pre>
    </details>
</div>
