<!--

    HERO

-->
{% assign include_title = "Hero" %}

<h2 id="{{ include_title | slugify }}">{{ include_title }}</h2>

<p>Note the hero pattern used on the live site makes use of the  image cover classes <code>u-image-cover--min-33-33  u-image-cover--min-20--wide</code> but for the purposes of this styleguide various sizes are used.

<p><a href="https://www.npeu.ox.ac.uk/dolfin/parents">Real use of info overlay on hero image</a>.</p>

<div class="u-space--below">

    <div class="c-hero-wrap  d-border--top--thick  d-border--bottom--thick" data-fs-text="center">
        <div class="c-hero  c-info-overlay-wrap">
            <div data-fs-block="border">
                <div class="c-hero__image">
                    <div class="u-image-cover  js-image-cover  u-image-cover--min-50  u-image-cover--min-33-33--wide">
                        <div class="u-image-cover__inner">
                            <img src="/assets/images/patterns/placeholder-3--small.jpg" sizes="100vw" srcset="/assets/images/patterns/placeholder-3--large.jpg 1600w, /assets/images/patterns/placeholder-3--medium.jpg 900w, /assets/images/patterns/placeholder-3--small.jpg 300w" alt="" class="u-image-cover__image" width="200">
                        </div>
                    </div>
                </div>
                
                <details class="c-info-overlay  c-info-overlay--half-width  c-info-overlay--from-right">
                    <summary><span>Details</span><svg display="none" width="24" height="24" focusable="false" class="icon  icon--is-closed"><use xlink:href="#icon-info"></use></svg><svg display="none" width="24" height="24" focusable="false" class="icon  icon--is-open"><use xlink:href="#icon-cross"></use></svg></summary>
                    <div>Image credit info goes here. Can contain <a href="#">links</a> and so on. Just not too long please.</div>
                </details>

                <div class="c-hero__message">
                    <p class="c-hero__message--fluid_text">Hero message or statement. Word count should be around 8-12 words.</p>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="u-space--below">
    <details class="u-padding  d-background--light">
        <summary>Show code:</summary>
<pre><code class="html"></code></pre>
    </details>
</div>

<h3 id="hero-limited-width">Hero - CMS limited width</h3>

<p>In order to finely control the width of the message we allow Joomla to specify a width.
The only practical way to implement with is to use an inline style output in the template.</p> 

<div class="u-space--below">

    <div class="c-hero-wrap  d-border--top--thick  d-border--bottom--thick" data-fs-text="center">
        <div class="c-hero  c-info-overlay-wrap">
            <div data-fs-block="border">
                <div class="c-hero__image">
                    <div class="u-image-cover  js-image-cover  u-image-cover--min-50  u-image-cover--min-33-33--wide">
                        <div class="u-image-cover__inner">
                            <img src="/assets/images/patterns/placeholder-3--small.jpg" sizes="100vw" srcset="/assets/images/patterns/placeholder-3--large.jpg 1600w, /assets/images/patterns/placeholder-3--medium.jpg 900w, /assets/images/patterns/placeholder-3--small.jpg 300w" alt="" class="u-image-cover__image" width="200">
                        </div>
                    </div>
                </div>
                
                <details class="c-info-overlay  c-info-overlay--half-width  c-info-overlay--from-right">
                    <summary><span>Details</span><svg display="none" width="24" height="24" focusable="false" class="icon  icon--is-closed"><use xlink:href="#icon-info"></use></svg><svg display="none" width="24" height="24" focusable="false" class="icon  icon--is-open"><use xlink:href="#icon-cross"></use></svg></summary>
                    <div>Image credit info goes here. Can contain <a href="#">links</a> and so on. Just not too long please.</div>
                </details>

                <div class="c-hero__message" style="width: calc(10em + 10%);">
                    <p class="c-hero__message--fluid_text">Hero message or statement. Word count should be around 8-12 words.</p>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="u-space--below">
    <details class="u-padding  d-background--light">
        <summary>Show code:</summary>
<pre><code class="html"></code></pre>
    </details>
</div>



<h3 id="hero-reversed">Hero - reversed</h3>

<div class="u-space--below">

    <div class="c-hero-wrap  d-border--top--thick  d-border--bottom--thick" data-fs-text="center">
        <div class="c-hero  c-hero--reversed  c-info-overlay-wrap">
            <div data-fs-block="border">
                <div class="c-hero__image">
                    <div class="u-image-cover  js-image-cover  u-image-cover--min-33-33  u-image-cover--min-20--wide">
                        <div class="u-image-cover__inner">
                            <img src="/assets/images/patterns/placeholder-2--small.jpg" sizes="100vw" srcset="/assets/images/patterns/placeholder-2--large.jpg 1600w, /assets/images/patterns/placeholder-2--medium.jpg 900w, /assets/images/patterns/placeholder-2--small.jpg 300w" alt="" class="u-image-cover__image" width="200">
                        </div>
                    </div>
                </div>
                
                <details class="c-info-overlay  c-info-overlay--half-width">
                    <summary><span>Details</span><svg display="none" width="24" height="24" focusable="false" class="icon  icon--is-closed"><use xlink:href="#icon-info"></use></svg><svg display="none" width="24" height="24" focusable="false" class="icon  icon--is-open"><use xlink:href="#icon-cross"></use></svg></summary>
                    <div>Image credit info goes here. Can contain <a href="#">links</a> and so on. Just not too long please.</div>
                </details>

                <div class="c-hero__message">
                    <p class="c-hero__message--fluid_text">Long word for testing. Antidisestablishmentarianism.</p>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="u-space--below">
    <details class="u-padding  d-background--light">
        <summary>Show code:</summary>
<pre><code class="html">TO DO</code></pre>
    </details>
</div>

<h3 id="hero-reversed-wide-message-heading-cta">Hero - reversed - wide message - with heading and CTA</h3>

<div class="u-space--below">

    <div class="c-hero-wrap  c-hero--wide-message  d-border--top--thick  d-border--bottom--thick" data-fs-text="center">
        <div class="c-hero  c-hero--reversed  c-info-overlay-wrap">
            <div data-fs-block="border">
                <div class="c-hero__image">
                    <div class="u-image-cover  js-image-cover  u-image-cover--min-50  u-image-cover--min-33-33--wide">
                        <div class="u-image-cover__inner">
                            <img src="/assets/images/patterns/placeholder-1--small.jpg" sizes="100vw" srcset="/assets/images/patterns/placeholder-1--large.jpg 1600w, /assets/images/patterns/placeholder-1--medium.jpg 900w, /assets/images/patterns/placeholder-1--small.jpg 300w" alt="" class="u-image-cover__image" width="200">
                        </div>
                    </div>
                </div>
                
                <details class="c-info-overlay  c-info-overlay--half-width">
                    <summary><span>Details</span><svg display="none" width="24" height="24" focusable="false" class="icon  icon--is-closed"><use xlink:href="#icon-info"></use></svg><svg display="none" width="24" height="24" focusable="false" class="icon  icon--is-open"><use xlink:href="#icon-cross"></use></svg></summary>
                    <div>Image credit info goes here. Can contain <a href="#">links</a> and so on. Just not too long please.</div>
                </details>

                <div class="c-hero__message">
                    <h1 class="c-hero__message--fluid_heading">Welcome to the NPEU</h1>
                    <p class="c-hero__message--fluid_text">The NPEU (National Perinatal Epidemiology Unit) is a multi-disciplinary research unit which was established at the University of Oxford in 1978</p>
                    <p class="c-hero__cta"><a href="/about" class="c-cta  c-cta--has-icon">About the NPEU<svg display="none" focusable="false" class="icon" aria-hidden="true"><use xlink:href="#icon-chevron-right"></use></svg></a></p>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="u-space--below">
    <details class="u-padding  d-background--light">
        <summary>Show code:</summary>
        <pre><code class="html"></code></pre>
    </details>
</div>



<h3 id="hero-carousel">Hero - Carousel</h3>


<div class="u-space--below">

    <div role="region" aria-label="banner slides" class="c-hero-wrap  c-hero-carousel  c-hero--wide-message  d-border--top--thick  d-border--bottom--thick ">
        <div>
            <nav class="c-hero-carousel__nav" aria-label="banner slides">
                <p data-fs-text="center" role="list">
 
                    <span role="listitem">
                        &ensp;<a href="#banner-slide-1">Slide 1</a>&ensp;
                    </span>
                    
                    <span role="listitem">
                        &ensp;<a href="#banner-slide-2">Slide 2</a>&ensp;
                    </span>
                    
                    <span role="listitem">
                        &ensp;<a href="#banner-slide-3">Slide 3</a>&ensp;
                    </span>

                </p>
            </nav>
            <div tabindex="0" class="c-hero-carousel__scroll-area" role="list">


                    <hr noShade size="1">
                    
                    <div role="listitem" id="banner-slide-1" class="c-hero  c-info-overlay-wrap" data-fs-text="center">
                        <div data-fs-block="border">
                            <div class="c-hero__image">
                                <div class="u-image-cover  js-image-cover  u-image-cover--min-50  u-image-cover--min-33-33--wide">
                                    <div class="u-image-cover__inner">
                                        <img src="/assets/images/patterns/placeholder-3--small.jpg" sizes="100vw" srcset="/assets/images/patterns/placeholder-3--large.jpg 1600w, /assets/images/patterns/placeholder-3--medium.jpg 900w, /assets/images/patterns/placeholder-3--small.jpg 300w" alt="" class="u-image-cover__image" width="200">
                                    </div>
                                </div>
                            </div>
                            
                            <details class="c-info-overlay  c-info-overlay--half-width  c-info-overlay--from-right">
                                <summary><span>Details</span><svg display="none" width="24" height="24" focusable="false" class="icon  icon--is-closed"><use xlink:href="#icon-info"></use></svg><svg display="none" width="24" height="24" focusable="false" class="icon  icon--is-open"><use xlink:href="#icon-cross"></use></svg></summary>
                                <div>Image credit info goes here. Can contain <a href="#">links</a> and so on. Just not too long please.</div>
                            </details>

                            <div class="c-hero__message">
                                <p class="c-hero__message--fluid_text">Hero message or statement. Word count should be around 8-12 words.</p>
                            </div>
                        </div>
                    </div>
                    
                    <hr noShade size="1">

                    <div role="listitem" id="banner-slide-2" class="c-hero  c-hero--reversed  c-info-overlay-wrap" data-fs-text="center">
                        <div data-fs-block="border">
                            <div class="c-hero__image">
                                <div class="u-image-cover  js-image-cover  u-image-cover--min-50  u-image-cover--min-33-33--wide">
                                    <div class="u-image-cover__inner">
                                        <img src="/assets/images/patterns/placeholder-2--small.jpg" sizes="100vw" srcset="/assets/images/patterns/placeholder-2--large.jpg 1600w, /assets/images/patterns/placeholder-2--medium.jpg 900w, /assets/images/patterns/placeholder-2--small.jpg 300w" alt="" class="u-image-cover__image" width="200">
                                    </div>
                                </div>
                            </div>
                            
                            <details class="c-info-overlay  c-info-overlay--half-width">
                                <summary><span>Details</span><svg display="none" width="24" height="24" focusable="false" class="icon  icon--is-closed"><use xlink:href="#icon-info"></use></svg><svg display="none" width="24" height="24" focusable="false" class="icon  icon--is-open"><use xlink:href="#icon-cross"></use></svg></summary>
                                <div>Image credit info goes here. Can contain <a href="#">links</a> and so on. Just not too long please.</div>
                            </details>

                            <div class="c-hero__message">
                                <p class="c-hero__message--fluid_text">Long word for testing. Antidisestablishmentarianism.</p>
                            </div>
                        </div>
                    </div>
                    
                    <hr noShade size="1">

                    <div role="listitem" id="banner-slide-3" class="c-hero  c-hero--reversed  c-info-overlay-wrap" data-fs-text="center">
                        <div data-fs-block="border">
                            <div class="c-hero__image">
                                <div class="u-image-cover  js-image-cover  u-image-cover--min-50  u-image-cover--min-33-33--wide">
                                    <div class="u-image-cover__inner">
                                        <img src="/assets/images/patterns/placeholder-1--small.jpg" sizes="100vw" srcset="/assets/images/patterns/placeholder-1--large.jpg 1600w, /assets/images/patterns/placeholder-1--medium.jpg 900w, /assets/images/patterns/placeholder-1--small.jpg 300w" alt="" class="u-image-cover__image" width="200">
                                    </div>
                                </div>
                            </div>
                            
                            <details class="c-info-overlay  c-info-overlay--half-width">
                                <summary><span>Details</span><svg display="none" width="24" height="24" focusable="false" class="icon  icon--is-closed"><use xlink:href="#icon-info"></use></svg><svg display="none" width="24" height="24" focusable="false" class="icon  icon--is-open"><use xlink:href="#icon-cross"></use></svg></summary>
                                <div>Image credit info goes here. Can contain <a href="#">links</a> and so on. Just not too long please.</div>
                            </details>

                            <div class="c-hero__message">
                                <h1 class="c-hero__message--fluid_heading">Welcome to the NPEU</h1>
                                <p class="c-hero__message--fluid_text">The NPEU (National Perinatal Epidemiology Unit) is a multi-disciplinary research unit which was established at the University of Oxford in 1978</p>
                                <p class="c-hero__cta"><a href="/about" class="c-cta  c-cta--has-icon">About the NPEU<svg display="none" focusable="false" class="icon" aria-hidden="true"><use xlink:href="#icon-chevron-right"></use></svg></a></p>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </div>
</div>
