<!--

    LISTING

-->

{% assign include_title = "Listing" %}

<h2 id="{{ include_title | slugify }}">{{ include_title }}</h2>

<h3>Minimum Listing:</h3>

<div class="u-space--below">
    <div class="c-listing">
        <div class="c-listing__body">
            <h2 class="c-listing__title">
                Listing Title 1
            </h2>
            <p class="u-image-cover__inner">
                A short description. Don't make it too long.
            </p>
        </div>
        <hr>
    </div>
    <div class="c-listing">
        <div class="c-listing__body">
            <h2 class="c-listing__title">
                Listing Title 2 - This is a bit too long and there's a <br>forced line-break to test wrapping
            </h2>
            <p class="u-image-cover__inner">
                A short description. Don't make it too long. This is a bit too long and there's a <br>forced line-break to test wrapping
            </p>
        </div>
        <hr>
    </div>
    <div class="c-listing">
        <div class="c-listing__body">
            <h2 class="c-listing__title">
                Listing Title 3
            </h2>
            <p class="u-image-cover__inner">
                A short description. Don't make it too long. This one is also very long but without a forced line-break or anything - just normal text that will stretch out and wrap when it needs to.
            </p>
        </div>
        <hr>
    </div>
</div>

<div class="u-space--below">
    <details class="u-padding  d-background--light">
        <summary>Show code:</summary>
        <pre><code class="html">


        </code></pre>
    </details>
</div>

<h3>With thumbnail image</h3>
<p>Note the image ratio should be appropriate to the content that's expected.</p>


<div class="u-space--below">
    <div class="c-listing">
        <div class="c-listing__body">
            <h2 class="c-listing__title">
                Listing Title 1
            </h2>
            <p class="c-listing__description">
                A short description. Don't make it too long.
            </p>
        </div>
        <div class="c-listing__image">
            <div class="u-image-cover  js-image-cover  u-image-cover--min-100">
                <p class="u-image-cover__inner">
                    <img src="/assets/images/patterns/placeholder-1--large.jpg" alt="" class="u-image-cover__image" width="200" height="133">
                </p>
            </div>
        </div>
        <hr>
    </div>
    <div class="c-listing">
        <div class="c-listing__body">
            <h2 class="c-listing__title">
                Listing Title 2 - This is a bit too long and there's a <br>forced line-break to test wrapping
            </h2>
            <p class="c-listing__description">
                A short description. Don't make it too long. This is a bit too long and there's a <br>forced line-break to test wrapping
            </p>
        </div>
        <div class="c-listing__image">
            <div class="u-image-cover  js-image-cover  u-image-cover--min-100">
                <p class="u-image-cover__inner">
                    <img src="/assets/images/patterns/placeholder-3--large.jpg" alt="" class="u-image-cover__image" width="200" height="133">
                </p>
            </div>
        </div>
        <hr>
    </div>
    <div class="c-listing">
        <div class="c-listing__body">
            <h2 class="c-listing__title">
                Listing Title 3
            </h2>
            <p class="c-listing__description">
                A short description. Don't make it too long. This one is also very long but without a forced line-break or anything - just normal text that will stretch out and wrap when it needs to.
            </p>
        </div>
        <div class="c-listing__image">
            <div class="u-image-cover  js-image-cover  u-image-cover--min-100">
                <p class="u-image-cover__inner">
                    <img src="/assets/images/patterns/placeholder-2--large.jpg" alt="" class="u-image-cover__image" width="200" height="133">
                </p>
            </div>
        </div>
        <hr>
    </div>
</div>


<div class="u-space--below">
    <details class="u-padding  d-background--light">
        <summary>Show code:</summary>
        <pre><code class="html">


        </code></pre>
    </details>
</div>

<p>Example where thumbnail images are 16:9 so we use the wider image option for better balance:</p>


<div class="u-space--below">
    <div class="c-listing">
        <div class="c-listing__body">
            <h2 class="c-listing__title">
                Listing Title 1
            </h2>
            <p class="c-listing__description">
                Demonstrating 16:9 image at default width. It's a bit small.
            </p>
        </div>
        <div class="c-listing__image">
            <div class="u-image-cover  js-image-cover  u-image-cover--min-56-25">
                <p class="u-image-cover__inner">
                    <img src="/assets/images/patterns/placeholder-1--large.jpg" alt="" class="u-image-cover__image" width="200" height="133">
                </p>
            </div>
        </div>
        <hr>
    </div>
    <div class="c-listing  c-listing--wide-image">
        <div class="c-listing__body">
            <h2 class="c-listing__title">
                Listing Title 2
            </h2>
            <p class="c-listing__description">
                The remaining images use the wider option to look a bit better.
            </p>
        </div>
        <div class="c-listing__image">
            <div class="u-image-cover  js-image-cover  u-image-cover--min-56-25">
                <p class="u-image-cover__inner">
                    <img src="/assets/images/patterns/placeholder-3--large.jpg" alt="" class="u-image-cover__image" width="200" height="133">
                </p>
            </div>
        </div>
        <hr>
    </div>
    <div class="c-listing  c-listing--wide-image">
        <div class="c-listing__body">
            <h2 class="c-listing__title">
                Listing Title 3 - This is a bit too long and there's a <br>forced line-break to test wrapping
            </h2>
            <p class="c-listing__description">
                A short description. Don't make it too long. This is a bit too long and there's a <br>forced line-break to test wrapping
            </p>
        </div>
        <div class="c-listing__image">
            <div class="u-image-cover  js-image-cover  u-image-cover--min-56-25">
                <p class="u-image-cover__inner">
                    <img src="/assets/images/patterns/placeholder-2--large.jpg" alt="" class="u-image-cover__image" width="200" height="133">
                </p>
            </div>
        </div>
        <hr>
    </div>
</div>


<div class="u-space--below">
    <details class="u-padding  d-background--light">
        <summary>Show code:</summary>
        <pre><code class="html">


        </code></pre>
    </details>
</div>

<p>These items have an 'aside'. This could be anything - a status or metric indicator, a call-to-action, anything.</p>
<p>Note the aside container is just a container - use other patterns or layouts to handle the contents.</p>


<div class="u-space--below">
    <div class="c-listing">
        <div class="c-listing__body">
            <h2 class="c-listing__title">
                Listing Title 1
            </h2>
            <p class="c-listing__description">
                A short description. Don't make it too long.
            </p>
        </div>
        <div class="c-listing__image">
            <div class="u-image-cover  js-image-cover  u-image-cover--min-100">
                <p class="u-image-cover__inner">
                    <img src="/assets/images/patterns/placeholder-1--large.jpg" alt="" class="u-image-cover__image" width="200" height="133">
                </p>
            </div>
        </div>
        <div class="c-listing__aside">
            <span>Status: in-progress.</span>
        </div>
        <hr>
    </div>
    <div class="c-listing">
        <div class="c-listing__body">
            <h2 class="c-listing__title">
                Listing Title 2 - This is a bit too long and there's a <br>forced line-break to test wrapping
            </h2>
            <p class="c-listing__description">
                A short description. Don't make it too long. This is a bit too long and there's a <br>forced line-break to test wrapping
            </p>
        </div>
        <div class="c-listing__image">
            <div class="u-image-cover  js-image-cover  u-image-cover--min-100">
                <p class="u-image-cover__inner">
                    <img src="/assets/images/patterns/placeholder-3--large.jpg" alt="" class="u-image-cover__image" width="200" height="133">
                </p>
            </div>
        </div>
        <div class="c-listing__aside">
            <div class="l-layout  l-row  l-row--start  l-gutter--xs  l-flush-edge-gutter">
                <span class="l-layout__inner">
                    <span class="l-box  l-box--center"><span>Status: active</span></span>
                    <span class="l-box  l-box--center"><a href="#" class="c-cta">
                        Edit<svg focusable="false" aria-hidden="true" width="1.25em" height="1.25em" display="none"><use xlink:href="#icon-chevron-right"></use></svg>
                    </a></span>
                </span><!-- End layout-inner -->
            </div>
        </div>
        <hr>
    </div>
    <div class="c-listing">
        <div class="c-listing__body">
            <h2 class="c-listing__title">
                Listing Title 3
            </h2>
            <p class="c-listing__description">
                A short description. Don't make it too long. This one is also very long but without a forced line-break or anything - just normal text that will stretch out and wrap when it needs to.
            </p>
        </div>
        <div class="c-listing__image">
            <div class="u-image-cover  js-image-cover  u-image-cover--min-100">
                <p class="u-image-cover__inner">
                    <img src="/assets/images/patterns/placeholder-2--large.jpg" alt="" class="u-image-cover__image" width="200" height="133">
                </p>
            </div>
        </div>
        <div class="c-listing__aside">
            <div class="l-layout  l-row  l-row--start  l-gutter--xs  l-flush-edge-gutter">
                <span class="l-layout__inner">
                    <span class="l-box  l-box--center"><span>Status: active</span></span>
                    <span class="l-box  l-box--center"><a href="#" class="c-cta">
                        Edit<svg focusable="false" aria-hidden="true" width="1.25em" height="1.25em" display="none"><use xlink:href="#icon-chevron-right"></use></svg>
                    </a></span>
                    <span class="l-box  l-box--center"><span>Something else?</span></span>
                </span><!-- End layout-inner -->
            </div>
        </div>
        <hr>
    </div>
</div>


<div class="u-space--below">
    <details class="u-padding  d-background--light">
        <summary>Show code:</summary>
        <pre><code class="html">


        </code></pre>
    </details>
</div>


<h3>Very wide image:</h3>


<div class="u-space--below">
    <div class="c-listing  c-listing--very-wide-image">
        <div class="c-listing__body">
            <h2 class="c-listing__title">
                Listing Title 1
            </h2>
            <p class="c-listing__description">
                A short description. Don't make it too long.
            </p>
        </div>
        <div class="c-listing__image">
            <div class="u-image-cover  js-image-cover  u-image-cover--min-100">
                <p class="u-image-cover__inner">
                    <img src="/assets/images/patterns/placeholder-1--large.jpg" alt="" class="u-image-cover__image" width="200" height="133">
                </p>
            </div>
        </div>
        <div class="c-listing__aside">
            <span>Status: in-progress.</span>
        </div>
        <hr>
    </div>
    <div class="c-listing  c-listing--very-wide-image">
        <div class="c-listing__body">
            <h2 class="c-listing__title">
                Listing Title 2 - This is a bit too long and there's a <br>forced line-break to test wrapping
            </h2>
            <p class="c-listing__description">
                A short description. Don't make it too long. This is a bit too long and there's a <br>forced line-break to test wrapping
            </p>
        </div>
        <div class="c-listing__image">
            <div class="u-image-cover  js-image-cover  u-image-cover--min-100">
                <p class="u-image-cover__inner">
                    <img src="/assets/images/patterns/placeholder-3--large.jpg" alt="" class="u-image-cover__image" width="200" height="133">
                </p>
            </div>
        </div>
        <div class="c-listing__aside">
            <div class="l-layout  l-row  l-row--start  l-gutter--xs  l-flush-edge-gutter">
                <span class="l-layout__inner">
                    <span class="l-box  l-box--center"><span>Status: active</span></span>
                    <span class="l-box  l-box--center"><a href="#" class="c-cta">
                        Edit<svg focusable="false" aria-hidden="true" width="1.25em" height="1.25em" display="none"><use xlink:href="#icon-chevron-right"></use></svg>
                    </a></span>
                </span><!-- End layout-inner -->
            </div>
        </div>
        <hr>
    </div>
    <div class="c-listing  c-listing--very-wide-image">
        <div class="c-listing__body">
            <h2 class="c-listing__title">
                Listing Title 3
            </h2>
            <p class="c-listing__description">
                A short description. Don't make it too long. This one is also very long but without a forced line-break or anything - just normal text that will stretch out and wrap when it needs to.
            </p>
        </div>
        <div class="c-listing__image">
            <div class="u-image-cover  js-image-cover  u-image-cover--min-100">
                <p class="u-image-cover__inner">
                    <img src="/assets/images/patterns/placeholder-2--large.jpg" alt="" class="u-image-cover__image" width="200" height="133">
                </p>
            </div>
        </div>
        <div class="c-listing__aside">
            <div class="l-layout  l-row  l-row--start  l-gutter--xs  l-flush-edge-gutter">
                <span class="l-layout__inner">
                    <span class="l-box  l-box--center"><span>Status: active</span></span>
                    <span class="l-box  l-box--center"><a href="#" class="c-cta">
                        Edit<svg focusable="false" aria-hidden="true" width="1.25em" height="1.25em" display="none"><use xlink:href="#icon-chevron-right"></use></svg>
                    </a></span>
                    <span class="l-box  l-box--center"><span>Something else?</span></span>
                </span><!-- End layout-inner -->
            </div>
        </div>
        <hr>
    </div>
</div>


<div class="u-space--below">
    <details class="u-padding  d-background--light">
        <summary>Show code:</summary>
        <pre><code class="html">


        </code></pre>
    </details>
</div>


<h3>No separator:</h3>


<div class="u-space--below">
    <div class="c-listing  c-listing--very-wide-image  c-listing--no-separator">
        <div class="c-listing__body">
            <h2 class="c-listing__title">
                Listing Title 1
            </h2>
            <p class="c-listing__description">
                A short description. Don't make it too long.
            </p>
        </div>
        <div class="c-listing__image">
            <div class="u-image-cover  js-image-cover  u-image-cover--min-100">
                <p class="u-image-cover__inner">
                    <img src="/assets/images/patterns/placeholder-1--large.jpg" alt="" class="u-image-cover__image" width="200" height="133">
                </p>
            </div>
        </div>
        <div class="c-listing__aside">
            <span>Status: in-progress.</span>
        </div>
        <hr>
    </div>
    <div class="c-listing  c-listing--very-wide-image  c-listing--no-separator">
        <div class="c-listing__body">
            <h2 class="c-listing__title">
                Listing Title 2 - This is a bit too long and there's a <br>forced line-break to test wrapping
            </h2>
            <p class="c-listing__description">
                A short description. Don't make it too long. This is a bit too long and there's a <br>forced line-break to test wrapping
            </p>
        </div>
        <div class="c-listing__image">
            <div class="u-image-cover  js-image-cover  u-image-cover--min-100">
                <p class="u-image-cover__inner">
                    <img src="/assets/images/patterns/placeholder-3--large.jpg" alt="" class="u-image-cover__image" width="200" height="133">
                </p>
            </div>
        </div>
        <div class="c-listing__aside">
            <div class="l-layout  l-row  l-row--start  l-gutter--xs  l-flush-edge-gutter">
                <span class="l-layout__inner">
                    <span class="l-box  l-box--center"><span>Status: active</span></span>
                    <span class="l-box  l-box--center"><a href="#" class="c-cta">
                        Edit<svg focusable="false" aria-hidden="true" width="1.25em" height="1.25em" display="none"><use xlink:href="#icon-chevron-right"></use></svg>
                    </a></span>
                </span><!-- End layout-inner -->
            </div>
        </div>
        <hr>
    </div>
    <div class="c-listing  c-listing--very-wide-image  c-listing--no-separator">
        <div class="c-listing__body">
            <h2 class="c-listing__title">
                Listing Title 3
            </h2>
            <p class="c-listing__description">
                A short description. Don't make it too long. This one is also very long but without a forced line-break or anything - just normal text that will stretch out and wrap when it needs to.
            </p>
        </div>
        <div class="c-listing__image">
            <div class="u-image-cover  js-image-cover  u-image-cover--min-100">
                <p class="u-image-cover__inner">
                    <img src="/assets/images/patterns/placeholder-2--large.jpg" alt="" class="u-image-cover__image" width="200" height="133">
                </p>
            </div>
        </div>
        <div class="c-listing__aside">
            <div class="l-layout  l-row  l-row--start  l-gutter--xs  l-flush-edge-gutter">
                <span class="l-layout__inner">
                    <span class="l-box  l-box--center"><span>Status: active</span></span>
                    <span class="l-box  l-box--center"><a href="#" class="c-cta">
                        Edit<svg focusable="false" aria-hidden="true" width="1.25em" height="1.25em" display="none"><use xlink:href="#icon-chevron-right"></use></svg>
                    </a></span>
                    <span class="l-box  l-box--center"><span>Something else?</span></span>
                </span><!-- End layout-inner -->
            </div>
        </div>
        <hr>
    </div>
</div>


<div class="u-space--below">
    <details class="u-padding  d-background--light">
        <summary>Show code:</summary>
        <pre><code class="html">


        </code></pre>
    </details>
</div>


<h3>Signpost Layout</h3>
<p>This is an odd one and possibly not the best terminology.</p>

<div class="c-panel d-background--very-dark t-pru-mnhc" style="--listing-body-width:10em">
    <div class="l-flush-edge-gutter l-gutter--s l-layout">
        <div class="l-layout__inner">
            <div class="l-box">
                <div class="c-panel d-background--dark t-pru-mnhc">
                    <div
                        class="c-listing c-listing--no-separator c-listing--very-wide-image c-listing--signpost-layout d-background--dark t-pru-mnhc">
                        <div class="c-listing__body">
                            <h2 class="c-listing__title">
                                <a href="/pru-mnhc/team"><span>Meet the PPI team</span></a>
                            </h2>
                        </div>

                        <div class="c-listing__image">
                            <div class="u-image-cover u-image-cover--min-56-25">
                                <p class="u-image-cover__inner">
                                    <img src="/assets/images/patterns/placeholder-2--large.jpg" alt="" class="u-image-cover__image" width="200" height="133">
                                </p>
                            </div>
                        </div>

                        <hr />
                    </div>
                </div>
            </div>

            <div class="l-box">
                <div class="c-panel d-background--dark t-pru-mnhc">
                    <div
                        class="c-listing c-listing--no-separator c-listing--very-wide-image c-listing--signpost-layout d-background--dark t-pru-mnhc">
                        <div class="c-listing__body">
                            <h2 class="c-listing__title">
                                <a href="/pru-mnhc/in-action"><span>Our PPI in action</span></a>
                            </h2>
                        </div>

                        <div class="c-listing__image">
                            <div class="u-image-cover u-image-cover--min-56-25">
                                <p class="u-image-cover__inner">
                                    <img src="/assets/images/patterns/placeholder-3--large.jpg" alt="" class="u-image-cover__image" width="200" height="133">
                                </p>
                            </div>
                        </div>

                        <hr />
                    </div>
                </div>
            </div>

            <div class="l-box">
                <div class="c-panel d-background--dark t-pru-mnhc">
                    <div
                        class="c-listing c-listing--no-separator c-listing--very-wide-image c-listing--signpost-layout d-background--dark t-pru-mnhc">
                        <div class="c-listing__body">
                            <h2 class="c-listing__title">
                                <a href="/pru-mnhc/get-involved"><span>Get involved</span></a>
                            </h2>
                        </div>

                        <div class="c-listing__image">
                            <div class="u-image-cover u-image-cover--min-56-25">
                                <p class="u-image-cover__inner">
                                    <img src="/assets/images/patterns/placeholder-1--large.jpg" alt="" class="u-image-cover__image" width="200" height="133">
                                </p>
                            </div>
                        </div>

                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


