<!--

    PRIMARY CTA

-->
{% assign include_title = "Primary CTA" %}

<h2 id="{{ include_title | slugify }}">{{ include_title }}</h2>

<p>This pattern is intended to be shown as part of a page banner for a project-specific site. It should only be used once.</p>

<div class="u-space--below">
    <a href="#" class="c-primary-cta  d-background"><span>Randomise to A-Trial</span></a>
</div>

<div class="u-padding--s">
    <details class="u-padding  d-background--light">
        <summary>Show code:</summary>
        <pre><code class="html">&lt;a href=&quot;https://rct.npeu.ox.ac.uk/trialname&quot; class=&quot;c-primary-cta  d-background&quot;&gt;&lt;span&gt;Randomise to A-Trial&lt;/span&gt;&lt;/a&gt;</code></pre>
    </details>
</div>
