<!--

    SYSTEM MESSAGES

-->
{% assign include_title = "System Messages" %}

<h2 id="{{ include_title | slugify }}">{{ include_title }}</h2>

<p>The usual culprits - notice, warning, error, success.</p>

<div class="u-space--below">
    <div class="c-system-message  d-background--sloped  t-notice  js-close-button-container" data-js="close-button">
        <p><strong>Notice</strong></p>
        <p>This lets you know something happened. For information only. <a href="#">Here's a link</a></p>
    </div>
</div>

<div class="u-space--below">
    <div class="c-system-message  d-background--sloped  t-success  js-close-button-container" data-js="close-button">
        <p><strong>Success!</strong></p>
        <p>This lets you know something successfully completed. <a href="#">Here's a link</a></p>
    </div>
</div>

<div class="u-space--below">
    <div class="c-system-message  d-background--sloped  t-warning  js-close-button-container" data-js="close-button">
        <p><strong>Warning</strong></p>
        <p>This lets you know something bad may happen if you're not careful. <a href="#">Here's a link</a></p>
    </div>
</div>

<div class="u-space--below">
    <div class="c-system-message  d-background--sloped  t-error  js-close-button-container" data-js="close-button">
        <p><strong>Error</strong></p>
        <p>This lets you know something did <strong>NOT</strong> successfully complete - and that it's a problem. <a href="#">Here's a link</a></p>
    </div>
</div>

<div class="u-padding--s">
    <details class="u-padding  d-background--light">
        <summary>Show code:</summary>
<pre><code class="html">&lt;div class=&quot;c-system-message  d-background--sloped  t-notice&quot;&gt;
    &lt;p&gt;&lt;strong&gt;Notice&lt;/strong&gt;&lt;/p&gt;
    &lt;p&gt;This lets you know something happened. For information only. &lt;a href=&quot;#&quot;&gt;Here&apos;s a link&lt;/a&gt;&lt;/p&gt;
&lt;/div&gt;

&lt;div class=&quot;c-system-message  d-background--sloped  t-success&quot;&gt;
    &lt;p&gt;&lt;strong&gt;Success!&lt;/strong&gt;&lt;/p&gt;
    &lt;p&gt;This lets you know something successfully completed. &lt;a href=&quot;#&quot;&gt;Here&apos;s a link&lt;/a&gt;&lt;/p&gt;
&lt;/div&gt;

&lt;div class=&quot;c-system-message  d-background--sloped  t-warning&quot;&gt;
    &lt;p&gt;&lt;strong&gt;Warning&lt;/strong&gt;&lt;/p&gt;
    &lt;p&gt;This lets you know something bad may happen if you&apos;re not careful. &lt;a href=&quot;#&quot;&gt;Here&apos;s a link&lt;/a&gt;&lt;/p&gt;
&lt;/div&gt;

&lt;div class=&quot;c-system-message  d-background--sloped  t-error&quot;&gt;
    &lt;p&gt;&lt;strong&gt;Error&lt;/strong&gt;&lt;/p&gt;
    &lt;p&gt;This lets you know something did &lt;strong&gt;NOT&lt;/strong&gt; successfully complete - and that it&apos;s a problem. &lt;a href=&quot;#&quot;&gt;Here&apos;s a link&lt;/a&gt;&lt;/p&gt;
&lt;/div&gt;</code></pre>
    </details>
</div>
