/* --| CSS LOADED |------------------------------------------------------------------------------ */
@use 'sass:math';
// This does nothing in the CSS, but gives JS something to look for so it can check if the CSS has
// loaded.
#css_has_loaded {
    visibility: hidden;
}

/* ---------------------------------------------------------------------------------------------- */


/* --| FUNCTIONS AND MIXINS --------------------------------------------------------------------- */

@import "__functions.scss";
@import "__mixins.scss";

/* ---------------------------------------------------------------------------------------------- */


/* --| SETTINGS |-------------------------------------------------------------------------------- */

// NOTE - Needs an overhaul because of updated StartCSS

//@import "_settings.scss";

//$theme-map: ($theme-name: $theme);
//$themes: map-merge($themes, $theme-map);
/**/

$primary-color   : #5d4777;
//$primary-color : #5c6dab;
//$primary-color : #033963;
$secondary-color : #b9975b;
//$secondary-color : #033963;
//$secondary-color : #ff9e1b;
$neutral-color   : #8e8279;


$notice-color: #a5d1f1;//#69b3e7;
$success-color: #aec492;//#789d4a;
$warning-color: #ffc576;//#ff9e1b;
$error-color: #9b3259;//#9b3259;

/**/

$border-thick: 0.3rem;

$s__base-ui-color: $primary-color;

$s__base-text-color: #111;
/**/
//$s__procedural-margins: false;
$s__use-last-child-margin-zero: true;
/**/
//$s__use-layout: false;
//$s__zero-header-hx-margin: false;
//$s__space_dl_groups: false;
//$s__text_zoom_scales_all: false;
//$s__figure-scroll: false;
/**/


$s__body-padding: 0;
$s__body-max-width: 0;
$s__body-background-color: transparent;

$max-main-line-length: 0;
$s__measure: 42em;
$not-too-small: 18em;




$s__main-max-line-length: 0;
$s__main-padding: 0;


$s__space_dl_groups: true;

$s__text_zoom_scales_all: true;


$s__border-width: 0.1rem;
$s__border-radius: 0.3rem;


//$s__focus-outline-width: 0.2rem;
//$s__focus-outline-offset: 0.2rem;

$s__anchor-border-bottom-width: 0.2rem;
//$s__anchor-focus-shadow-width: 0.3rem;

//$s__button-focus-shadow-width: 0.3rem;

//$s__input-focus-shadow-width: 0.3rem;

//$s__select-focus-shadow-width: 0.3rem;

//$s__textarea-focus-shadow-width: 0.3rem;


//$s__anchor-text-color: inherit;
$s__anchor-text-color: currentColor;
$s__anchor-text-color--alt: $s__anchor-text-color;


$s__button-border-color: hsl(var(--t-primary-color-h), var(--t-primary-color-s), var(--t-primary-color-l));
$s__button-background-color: hsl(var(--t-primary-color-h), var(--t-primary-color-s), var(--t-primary-color-l));
$s__button-background-color--alt: hsl(var(--t-primary-color-h), var(--t-primary-color-s), var(--t-primary-color-l--dark));


$s__pre-background-color: hsl(var(--t-primary-color-h), var(--t-primary-color-s), var(--t-primary-color-l--very-light));


$s__hr-border: $s__border-width solid hsl(var(--t-primary-color-h), var(--t-primary-color-s), var(--t-primary-color-l));


$s__html-background-color: hsl(var(--t-primary-color-h), var(--t-primary-color-s), var(--t-primary-color-l--very-dark));


//$s__table-border: $s__border-width solid hsl(var(--t-primary-color-h), var(--t-primary-color-s), var(--t-primary-color-l));

//$s__td-border: $s__border-width solid hsl(var(--t-primary-color-h), var(--t-primary-color-s), var(--t-primary-color-l));

//$s__th-border: $s__border-width solid hsl(var(--t-primary-color-h), var(--t-primary-color-s), var(--t-primary-color-l));
$s__th-background-color: hsl(var(--t-primary-color-h), var(--t-primary-color-s), var(--t-primary-color-l--very-light));



$s__target-highlight-color-a: hsla(var(--t-primary-color-h), var(--t-primary-color-s), var(--t-primary-color-l), 0.4);
$s__target-highlight-color-b: hsla(var(--t-primary-color-h), var(--t-primary-color-s), var(--t-primary-color-l), 0);

/*
//@debug $s__base-ui-color;

$s__html-background-color: darken(map-get(map-get($themes, neutral), primary-color), 20%);

$s__body-padding: 0;
$s__main-max-line-length: 0;
$s__main-padding: 0;

$s__anchor-text-color: #333;

// I shouldn't have to set this as the !default should allow a cascade.
// Investigate why this is happening. I don't think it's a SASS problem as it seems to work in a
// reduced test-case (though to be fair this isn't using @import...)
// https://codepen.io/akirk/pen/RmWKgy
$s__anchor-text-color--alt: #333;



$s__selection-background-color: lighten(map-get(map-get($themes, neutral), primary-color), 10%) !default;
$s__experimental_checkradios: true;


*/
/* ---------------------------------------------------------------------------------------------- */

/* --| STARTCSS |-------------------------------------------------------------------------------- */



//@import '../bower_components/Fall-Back-Start-CSS/scss/_start_settings.scss';
//@import '../bower_components/Fall-Back-Start-CSS/scss/_start_functions.scss';
//@import '../bower_components/Fall-Back-Start-CSS/scss/_start_mixins.scss';
@import '../bower_components/Fall-Back-Start-CSS/scss/_start.scss';

@import "_start_tweaks.scss";


$s__class-namespace: c-;

$fs__include_class_cta_button:    false;
$fs__include_class_bordered:      false;
$fs__include_class_padded:        false;
$fs__include_class_subtitle:      false;
$fs__include_class_tagline:       false;
$fs__include_class_composite:     true;
$fs__include_class_custom_inputs: false;
$fs__include_class_poem:          false;

@import '../bower_components/Fall-Back-Start-CSS/scss/_start-classes.scss';
///@import '../bower_components/Fall-Back-Start-CSS/scss/_start-accessibility.scss';
///@import '../bower_components/Fall-Back-Start-CSS/scss/_Xstart-utilities.scss';
///@import '../bower_components/Fall-Back-Start-CSS/scss/_Xstart-icons.scss';

//$s__experimental: true;
$s__experimental_checkradios: true;
@import '../bower_components/Fall-Back-Start-CSS/scss/_start-experimental.scss';

/* ---------------------------------------------------------------------------------------------- */

/* --| MORE SETTINGS (USING START VARS |--------------------------------------------------------- */

$focus-shadow: 0 0 0 $s__sz-xxs #fff, 0 0 0 $s__sz-xs rgba(0,0,0,.2);
$focus-shadow--inset: 0 0 0 $s__sz-xxs #fff inset, 0 0 0 $s__sz-xs rgba(0,0,0,.2) inset;

/* ---------------------------------------------------------------------------------------------- */


/* --| THEME |----------------------------------------------------------------------------------- */

@import "_themer.scss";

/* ---------------------------------------------------------------------------------------------- */

/* --| PATTERNS |-------------------------------------------------------------------------------- */

/* --| Special Patterns |------------------------------------------------------------------------ */
// Special patterns are intended to be utility patterns that work in isolation from anything else,
// and/or do not share the u- prefix naming convention. This one is here so it's mixin is available
// to other patterns.

$ff-breakpoints: (
    10em,
    15em,
    20em,
    25em,
    30em,
    35em,
    40em,
    45em,
    50em,
    55em,
    60em,
    65em,
    70em,
    75em,
    80em
);

$ff-min-widths: (
    20%,
    25%,
    30%,
    33.333%,
    40%,
    50%,
    60%,
    66.666%,
    70%,
    75%,
    80%
);

@import "special-patterns/_ff-widths.scss";

/* --| Component Patterns |---------------------------------------------------------------------- */

@import "component-patterns/_badge.scss";

@import "component-patterns/_cta.scss";

@import "component-patterns/_card.scss";

@import "component-patterns/_contact-list.scss";

@import "component-patterns/_event.scss";

@import "component-patterns/_featurette.scss";

@import "component-patterns/_forms.scss";

@import "component-patterns/_glimpse.scss";

@import "component-patterns/_hero.scss";

@import "component-patterns/_info-overlay.scss";

@import "component-patterns/_listing.scss";

@import "component-patterns/_map.scss";

@import "component-patterns/_meter.scss";

@import "component-patterns/_panel.scss";

@import "component-patterns/_primary-cta.scss";

@import "component-patterns/_signs.scss";

@import "component-patterns/_system-message.scss";

@import "component-patterns/_thumbnail.scss";

@import "component-patterns/_utilitext.scss";

// Think about including these in the Panel file (make it a 'super object'?)
// Special case for rounded cards and maps inside rounded panels:
.c-panel--rounded {
    .c-card,
    .c-map > div[id],
    .c-map .leaflet-container {
        border-radius: math.div($s__sz-s, 2);
    }
}


/* ---------------------------------------------------------------------------------------------- */



/* --| Decoration Patterns |---------------------------------------------------------------------- */

@import "decoration-patterns/_background.scss";

@import "decoration-patterns/_border.scss";

/* ---------------------------------------------------------------------------------------------- */



/* --| Layout Patterns |------------------------------------------------------------------------- */


$layout-spacing-unit: math.div($s__base-rem-space-unit, 2);
@import "layout-patterns/_base.scss";

@import "layout-patterns/_center.scss";

@import "layout-patterns/_distribute.scss";

@import "layout-patterns/_gallery-grid.scss";

@import "layout-patterns/_primary-content.scss";

/* ---------------------------------------------------------------------------------------------- */



/* --| Navigation Patterns |--------------------------------------------------------------------- */

@import "navigation-patterns/_pagination.scss";

@import "navigation-patterns/_search-results.scss";

@import "navigation-patterns/_menu.scss";


/* ---------------------------------------------------------------------------------------------- */



/* --| Fall-Back Patterns |---------------------------------------------------------------------- */

@import "../bower_components/Fall-Back-Patterns/Close Button/scss/_close-button-v3";


$s__dropdown--base-ui-color: transparent;
$s__dropdown--base-text-color: inherit;
//$s__dropdown--background-color:                transparent;
$s__dropdown--text-color:                        inherit;
//$s__dropdown__control--color:                  $s__nav-bar__link--color;
$s__dropdown__control--background-color:         false;
$s__dropdown__control--background-color--alt:    rgba(255,255,255,0.15);
//$s__dropdown__control--background-color--alt2: $s__nav-bar__link--background-color--alt;
//$s__dropdown-z-index: 2;
@import "../bower_components/Fall-Back-Patterns/Dropdown/scss/_dropdown-v3";
.dropdown__area--is-open {
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.4);
}


$s__nav-bar--base-ui-color:                false;
$s__nav-bar--base-ui-text-color:           inherit;
$s__nav-bar__link--color:                  inherit;
$s__nav-bar__link--background-color:       false;
$s__nav-bar__link--background-color--alt:  rgba(255,255,255,0.15);
$s__sub-nav__link--background-color:       false;
$s__sub-nav__link--background-color--alt:  rgba(255,255,255,0.15);
@import '../bower_components/Fall-Back-Patterns/Nav Bar/scss/_nav-bar-v3.scss';


$s__over-panel--base-ui-color: transparent;
$s__over-panel--base-text-color: inherit;
$s__over-panel__contents--padding: 0;
$s__over-panel__overlay--background-color: #000;
$s__over-panel__control--background-color: false;
@import "../bower_components/Fall-Back-Patterns/Over Panel/scss/_over-panel-v3";


$s__search-form--background-color:              transparent;
//$s__search-form__submit--text-color:            #fff;
$s__search-form__submit--background-color:      hsl(var(--t-primary-color-h), var(--t-primary-color-s), var(--t-primary-color-l--light));
$s__search-form__submit--background-color--alt: hsl(var(--t-primary-color-h), var(--t-primary-color-s), var(--t-primary-color-l--very-light));
//$s__search-form__submit--background-color:      darken($s__base-ui-color, 5%);
//$s__search-form__submit--background-color--alt: darken($s__base-ui-color, 15%);
//$s__search-form-max-width:                      35em;
@import "../bower_components/Fall-Back-Patterns/Search Form/scss/_search-form-v2";

.search-form.search-form {
    margin-left: auto;
}

.search-form .search-form__field.search-form__field {
    border-radius: 50px 0 0 50px;
    padding-left: 0.5em;
}


$s__cookie-notice--spacing: $s__sz-m;
@import "../bower_components/Fall-Back-Cookie-Notice/_cookie-notice-classes-v3";
//@import "../bower_components/Fall-Back-Cookie-Notice/_cookie-notice-elements-v3";

/* ---------------------------------------------------------------------------------------------- */



/* --| More Special Patterns |------------------------------------------------------------------------ */
// Special patterns are intended to be utility patterns that work in isolation from anything else,
// and/or do not share the u- prefix naming convention.

// Longform Content is necessary but it doesn't fit nicely into another category:
@import "special-patterns/_longform-content.scss";

// Page Header is necessary but it doesn't fit nicely into another category:
@import "special-patterns/_page-header.scss";

// Page Footer is necessary but it doesn't fit nicely into another category:
@import "special-patterns/_page-footer.scss";

// Page Sidebar is necessary but it doesn't fit nicely into another category:
@import "special-patterns/_page-sidebar.scss";

// Page Wrap is necessary but it doesn't fit nicely into another category:
@import "special-patterns/_page-wrap.scss";

// User Content is necessary but it doesn't fit nicely into another category:
@import "special-patterns/_user_content.scss";

/* ---------------------------------------------------------------------------------------------- */



/* --| Utility Patterns |------------------------------------------------------------------------ */

@import "utility-patterns/_block-center.scss";
@import "utility-patterns/_fill-height.scss";
@import "utility-patterns/_fill-width.scss";

@import "utility-patterns/_image-cover.scss";
@import "utility-patterns/_image-natural.scss";

@import "utility-patterns/_text-align.scss";


/* ---------------------------------------------------------------------------------------------- */



/* --| SHAME |----------------------------------------------------------------------------------- */

@import "_shame";

/* ---------------------------------------------------------------------------------------------- */

