// Narrower page wrap just for dev on laptop.
.page-wrap.page-wrap {
    //max-width: 1200px;
}



.t-box {
    box-shadow: 0 0 1em 0 rgba(0,0,0,0.5) inset;
}


.t-box-1 {
    background: #fed;
    box-shadow: 0 0 1em 0 rgba(0,0,0,0.5) inset;

    min-height: 100%;
}

.t-box-2 {
    padding: 2.4rem;
}


.t-box-3 {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.t-box-4 {
    flex: 0 0 auto;
    max-width: 100%;
}



.s-example {
    box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.1);
}

.s-example--outer {
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
}

.s-example--padded {
    box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.1);
    padding: 1.2rem;
}

.s-example--padded-only {
    padding: 1.2rem;
}

.s-example--padded--outer {
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    padding: 1.2rem;
}

/*details {
    margin-top: 1em;
}
*/
h1 {
    word-break: break-all;
    -ms-word-break: break-all;
}

$ts: 2.4rem;

.u-padding {
    padding: $ts !important;
}

.u-padding--s {
    padding: #{$ts / 2} !important;
}

.u-padding--sides {
    padding-left: $ts !important;
    padding-right: $ts !important;
}

.u-space--below {
    margin-bottom: $ts !important;
}

.u-space--below--l {
    margin-bottom: #{$ts * 2} !important;
}

.u-space--below--xl {
    margin-bottom: #{$ts * 4} !important;
}


.u-space--above {
    margin-top: $ts !important;
}

.u-space--above--l {
    margin-top: #{$ts * 2} !important;
}

.u-space--above--xl {
    margin-top: #{$ts * 4} !important;
}


.u-text-align--center {
    text-align: center;
}

/*
    Groups.

    Attempts to improve where text wraps.


.u-text-group {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  align-items: center;
  max-width: 100%;
}

.u-text-group--center {
  justify-content: center;
}

.u-text-group--push-apart {
  justify-content: space-between;
}

.u-text-group > * {
  margin: 0;
  flex: 0 1 auto !important;
}

.u-text-group > :not(:last-child) {
  padding-right: 0.2em !important;
}

.u-text-group--wide-space > :not(:last-child) {
  padding-right: 1em !important;
}
*/

.test {
    display: block;
}

