<ul>
    <li><a href="/patterns/layout/primary-content--main-only">Primary content - main only</a></li>
    <li><a href="/patterns/layout/primary-content--pull-outs">Primary content - with pull-outs</a></li>
    <li><a href="/patterns/layout/primary-content--pull-outs--no-footer">Primary content - with pull-outs - no footer</a></li>
    <li><a href="/patterns/layout/primary-content--pull-outs--super">Primary content - with pull-outs and super pull-out</a></li>
    <li><a href="/patterns/layout/primary-content--pull-outs--super-only">Primary content - with super pull-out only</a></li>
</ul>

<hr>

<h2>Primary Content</h2>

<p>
This pattern should only really be used once per page, where the primary content of the page is text (like an article) as opposed to being composed of different blocks where it's harder to establish and single primary focus.
</p>
<p>
    <label for="toggle-box-visuals">Toggle box visuals</label>
</p>
<input type="checkbox" id="toggle-box-visuals" style="display:none;">