/*
    Section Menu
    =============

*/

$menu-namespace: n- !default;

.#{$menu-namespace}menu {

    /*
    */
    &#{&} {
    }

    .#{$pagination-namespace}menu__title {
        margin: 0;
    }

    /*
        1. StartCSS uses display: table to fix lists that wrap around floated objects, but by
           default doesn't force 100% width, so do that here.
    */
    .#{$pagination-namespace}menu__links {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%; /* [1] */

        li {
            padding: 0;
            margin: 0;
        }

        li:not(:last-child) {
            border-bottom: 1px solid #ccc;
        }
        
        li[aria-current="page"] a span {
            border-bottom: 0.2rem dashed currentColor;
        }

        a {
            text-decoration: none;
            padding: $s__sz-xs;
            display: block;
            position: relative;
        }

        a[href] {
            &:hover {
                background: #eee;
            }

            &:focus {
                z-index: 1;
            }
        }
    }
}