<!--

    IMAGE COVER
    
-->


<h2 id="image-natural">Image Natural</h2>

<p>Force images to be their natural size.</p>
<p>E.g. TOAST TOFS Podcast</p>

<div class="u-space--below" style="max-width: 50em; margin-left: auto; margin-right: auto;">

    <div class="l-box">
        <a href="https://www.npeu.ox.ac.uk" class="u-image-natural">    
            <img src="/assets/images/patterns/placeholder-1--large.jpg" alt="" class="u-image-natural__image" width="600" height="400">
        </a>
    </div>

</div>

<h3>With external link indicator</h3>

<div class="u-space--below" style="max-width: 50em; margin-left: auto; margin-right: auto;">

    <div class="l-box">
        <a href="https://www.npeu.ox.ac.uk" rel="external noopener noreferrer" class="u-image-natural">    
            <img src="/assets/images/patterns/placeholder-1--large.jpg" alt="" class="u-image-natural__image" width="600" height="400">
        </a>
    </div>

</div>