<!--

    PROPORTIONAL CONTAINER

-->


<h2 id="proportional-container">Proportional Container</h2>

<p class="u-padding--sides">Note - default proportions are:</p>

<ul class="u-padding--sides">
    <li>1-1</li>
    <li>2-1</li>
    <li>3-1</li>
    <li>4-1</li>
    <li>4-3</li>
    <li>5-1</li>
    <li>16-9</li>
</ul>

<p>All proportions are also available at "wide" breakpoint (default 45em).</p>

<h3>Proportional Container - 3-1</h3>

<div class="u-space--below">
    <div class="l-proportional-container  l-proportional-container--3-1">
        <div class="l-proportional-container__content">
            <div class="u-image-cover  js-image-cover">
                <div class="u-image-cover__inner">
                    <img class="u-image-cover__image" src="/assets/images/patterns/placeholder-1.jpg" width="600" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<h3 class="u-padding--sides">Proportional Container - 4-3, 3-1 wide</h3>

<div class="u-space--below">
    <div class="l-proportional-container  l-proportional-container--4-3  l-proportional-container--3-1--wide">
        <div class="l-proportional-container__content">
            <div class="u-image-cover  js-image-cover">
                <div class="u-image-cover__inner">
                    <img class="u-image-cover__image" src="/assets/images/patterns/placeholder-2.jpg" width="600" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
