---
layout: structure--pattern
title:  Distribute
---

<p>Items in rows</p>

<h2>Default</h2>


{% include layout/distribute.html classes="l-distribute  l-basis--35" prefix="a" %}


<h2 id="balance-top">Balance top (top-heavy)</h2>

{% include layout/distribute.html classes="l-distribute  l-distribute--balance-top  l-basis--25" prefix="b" %}


<h2 id="balance-top">Balance bottom (bottom-heavy)</h2>

{% include layout/distribute.html classes="l-distribute  l-distribute--balance-bottom  l-basis--25" prefix="c" %}

