/*
*/

$longform-content-max-width: 67rem !default;

@mixin longform-content-styles {
    width: 100%;
    max-width: $longform-content-max-width;
    margin-left: auto;
    margin-right: auto;

    //--inset: #{$s__sz-m};
    //
    //padding-left: var(--inset, 0px);
    //padding-right: var(--inset, 0px);
}

.has-longform-content {
     &#{&} {
        --inset: #{$s__sz-m};
        padding-left: var(--inset, 0px);
        padding-right: var(--inset, 0px);
    }

    /*position: relative;
    padding-bottom: $s__sz-m;

    &::before {
        display: block;
        content: "";
        width: 100%;
        max-width: 67rem;
        height: 100%;
        position: absolute;
        top: 0;
        border: 0;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 0 0 6px 0px rgba(0,0,0,0.4);
    }
    */
    &#{&} > .longform-content__companion {
        @include longform-content-styles();
    }
}

.longform-content {

    //&#{&} {
    //    --inset: #{$s__sz-m};
    //    padding-left: var(--inset, 0px);
    //    padding-right: var(--inset, 0px);
    //}

    &#{&} > *:not([data-display-as~="blocks"]):not([data-display-as~="breakout-box"]) {
        @include longform-content-styles();
    }

    &#{&} > [data-display-as~="blocks"],
    &#{&} > [data-display-as~="breakout-box"] {

        margin-left: 0;
        margin-right: 0;
    }

    &#{&} > [data-display-as~="breakout-box"]:not(:last-child) {
        margin-bottom: $s__sz-m;
    }

    &#{&} > [data-display-as~="overflow-box"] {
        @include s__overflow-scroll();
    }

    &#{&} > [data-display-as~="overflow-box"][data-display-as~="overflow-box"][data-display-as~="overflow-box"][data-display-as~="overflow-box"][data-display-as~="overflow-box"] {
        margin-left: auto;
        margin-right: auto;
    }

    &#{&} > details {
        margin-bottom: $s__sz-m;
        border: 0;
        border-bottom: 1px solid #eee;
        padding: $s__sz-xs 0 $s__sz-xs $s__sz-m;
    }

    &#{&} > details > summary {
        margin-bottom: $s__sz-m;
        font-weight: bold;
    }
}