/*
    Page Sidebar
    ============

    In the context of a sidebar, font sizes and other things should be adjusted.
    It's a tough call whether these things should be declared in the files for those things, or
    centrally.
    I've opted for centrally so it's easier to be consistent and avoid duplication, but it may be
    confusing when looking at those files as to why things are different to what's expected, so
    make sure to make a note in each of those files.
*/
@use 'sass:math';


.page-sidebar {

    &#{&} {

        h2 {
            font-size: math.div(24px, $s__base-font-size) * 1em;
            line-height: $s__base-rem-space-unit * 1.5;
        }

        h3 {
            font-size: math.div(20px, $s__base-font-size) * 1em;
            line-height: $s__base-rem-space-unit;
        }

        .c-panel:not(:last-child) {
            margin-bottom: $s__sz-m;
        }

        & > * + * {
            margin-top: 2.4rem;
        }
    }
}
