/*
    Page Header
    ===========
*/

/*
    Ensure drop-downs from page header overlay anything else on the page.
*/
.page-header {
    position: relative; /* [1] */
    z-index: 9999; /* [1] */

    margin-top: 0;
    margin-bottom: 0;
}

.page-header__brand-banner.page-header__brand-banner--no-cta.l-layout.l-distribute > .l-layout__inner {
    justify-content: space-between;
}

.page-header__brand-banner.page-header__brand-banner--no-cta.l-layout.l-distribute > .l-layout__inner .l-box.l-box {
    text-align: center;
    width: calc((100% - (var(--min-width) + var(--g))) * -9999);
    min-width: fit-content;
}


/*
.page-header .js-cmr--wide.l-layout__inner {
    justify-content: space-between;
}

*/

/*
    IE11 needs this or only-child will be on the right:
*/
.page-header .l-layout__inner :only-child {
    margin-right: auto;
}

.page-header .page-header__brand-banner.npeu {
    background-color: #5D4776;
    background-image: url("images/npeu-pattern.svg") !important;
    background-size: 68px 132px !important;
    background-position: 0 2.6rem !important;
    background-attachment: fixed !important;
    background-repeat: repeat;
    box-shadow: 0 -0.3rem 0.3rem 0 rgba(0,0,0,0.7) inset;
}


.page-header .page-header__brand-banner.npeu > * {
    position: relative;
    filter: drop-shadow(0px 6px 2px rgba(0, 0, 0, 0.5));
}

.page-header .page-header__brand-banner.npeu > *::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    clip-path: ellipse(80% 125% at 0% -15%);
    // closer to NDPH:
    // clip-path: polygon(0% 0%,100% 0%,100% 46%,30% 46%,30% 100%,0% 100%);
}

.page-header .page-header__brand-banner.npeu + * {
    position: relative;
    z-index: 1;
}



