/*
    Page Footer
    ============
    ...
*/


//.page-footer {
//
//    &#{&} {
//        // Override [data-fs-block="flush"]:
//        margin: 0;
//    }
//}


.page-footer .page-footer__brand-footer.npeu {
    background-color: #463659;
    background-image: url("images/npeu-pattern-dark.svg") !important;
    background-size: 68px 132px !important;
    background-position: 0 2.6rem !important;
    background-attachment: fixed !important;
    background-repeat: repeat;
    box-shadow: 0 0.3rem 0.3rem 0 rgba(0,0,0,0.7) inset;
}

//.page-footer .page-footer__brand-footer.npeu  .page-footer__info-box {
//    background: rgba(0,0,0,0.6);
//    border-radius: 1.2rem;
//}