---
layout: structure--page
title: Home Page
alt_theme: false
is_blog: true
---
<div class="d-border--bottom--thick">
    <!-- Page is NOT landing -->
    <div class="l-primary-content  l-primary-content--has-pull-outs  l-primary-content--has-pull-outs--only-bottom  n--page-not-landing  d-background--white">

        <div class="l-primary-content__header">

            <div class="c-panel">
                <header class="c-panel__header">
                    <div>
                        <h1 id="persistent-inequalities-remain-in-rates-of-stillbirth-and-neonatal-deaths-in-the-uk" tabindex="-1">Persistent inequalities remain in rates of stillbirth and neonatal deaths in
                            the UK</h1>
                        <p>
                        </p>
                    </div>
                </header>

            </div>
        </div>

        <div class="l-primary-content__main  has-longform-content{% if page.is_blog == true %}  c-panel  c-panel--rounded  d-background--very-light  t-neutral{% endif %}">

            <div class="longform-content  user-content">

                <p class="u-image-cover  js-image-cover  u-image-cover--min-56-25" data-display-as="breakout-box">
                    <span class="u-image-cover__inner">
                        <img src="/assets/images/npeu-news/Inequalities_-_NEWS--small.jpg" alt="Infant hand with hospital band around wrist holding tip of index finger of an adult hand." sizes="(max-width: 380px) 350px, 90vw" srcset="/assets/images/npeu-news/Inequalities_-_NEWS--medium.jpg 350w, /assets/images/npeu-news/Inequalities_-_NEWS--large.jpg 700w" class="u-image-cover__image" width="700">
                    </span>
                </p>

                <p class="l-layout  l-row  l-row--push-apart  l-gutter--s  l-flush-edge-gutter">
                    <span class="l-layout__inner">
                        <span class="l-box  l-box--center"><span>Published on Monday, 15 July 2024</span></span> <span class="l-box">
                            <a href="https://twitter.com/intent/tweet?text=Persistent inequalities remain in rates of stillbirth and neonatal deaths in the UK&url=https://www.npeu.ox.ac.uk/news/2570-persistent-inequalities-remain-in-rates-of-stillbirth-and-neonatal-deaths-in-the-uk&via=NPEU_Oxford" class="c-cta" target="_blank">
                                <svg focusable="false" aria-hidden="true" width="1.25em" height="1.25em" display="none">
                                    <use xlink:href="#icon-x"></use>
                                </svg>
                                <span>Post</span>
                            </a>
                        </span>
                    </span>
                </p>

                <p>The <a href="https://www.npeu.ox.ac.uk/mbrrace-uk">MBRRACE-UK collaboration</a>, jointly led by
                    Oxford Population Health's National Perinatal Epidemiology Unit and the University of Leicester's <a href="https://le.ac.uk/timms" rel="external">The Infant Mortality and Morbidity Studies
                        (TIMMS)</a> research group, has today published a <a href="https://timms.le.ac.uk/mbrrace-uk-perinatal-mortality/surveillance/" rel="external">'State
                        of the Nation'</a> report on perinatal deaths of babies born in the UK in 2022.</p>

                <p>The State of the Nation report is a concise overview of perinatal deaths in the UK focusing on five
                    key areas: perinatal mortality rates in the UK; mortality rates for trusts and health boards;
                    mortality rates by gestational age (weeks of pregnancy completed before birth); mortality rates by
                    ethnicity and socio-economic deprivation; and a description of the causes of perinatal deaths in the
                    UK.</p>

                <p>This report focuses on births from 24 completed weeks of pregnancy, but incudes babies born at 22 and
                    23 completed weeks of pregnancy where rates are presented by gestational age. The figures presented
                    in this report do not include terminations of pregnancy.</p>

                <p><strong>Key findings:</strong></p>

                <ul>
                    <li>Extended perinatal mortality rates decreased in 2022 to 5.04 deaths per 1,000 total births,
                        following an increase in 2021. Despite the decrease, the rate remains higher than it was in 2019
                        and 2020;</li>
                    <li>The stillbirth rate decreased from 3.53 per 1,000 total births to 3.35 per 1,000 total births.
                        The neonatal mortality rate increased from 1.65 per 1,000 live births to 1.69 per 1,000 live
                        births;</li>
                    <li>Wide variation in neonatal mortality rates remained in 2022, with just 21.5% of trusts and
                        health boards having rates that fall within 5% of the average for organisations that provide
                        similar types of care;</li>
                    <li>Late fetal loss, stillbirth and neonatal mortality rates decreased in almost all gestational age
                        groups between 2021 and 2022. However, for babies born between 22 and 23 completed weeks'
                        gestational age who died between 8 and 28 days after birth, the mortality rate was 126.1 babies
                        per 1,000 births. This is the highest rate for these babies since MBRRACE-UK began reporting on
                        these numbers in 2014 and the report urges healthcare commissioners to ensure that neonatal
                        intensive care capacity and resources are able to meet demand;</li>
                    <li>Inequalities by levels of deprivation continue to persist. Stillbirth rates for babies born to
                        mothers living in the most deprived areas decreased to 4.60 per 1,000 total births, but this
                        rate remains much higher than that for babies born to women living in the least deprived areas
                        (2.61 per 1,000 total births). Neonatal mortality rates for babies born to mothers from the most
                        deprived areas increased for the second year, and are now twice that of babies born to mothers
                        from the least deprived areas (2.38 per 1,000 live births compared with 1.18 per 1,000 live
                        births);</li>
                    <li>Despite a decline in stillbirth rates for all ethnic groups, significant ethnic disparities
                        persist. Babies of Asian and Black ethnicity continue to have much higher mortality rates than
                        babies of White ethnicity. Babies of Black ethnicity remain more than twice as likely to be
                        stillborn compared with babies of White ethnicity (Black: 6.19 per 1,000 total births; White:
                        2.99 per 1,000 total births). Neonatal mortality rates decreased for babies of Black and White
                        ethnicity, with rates for babies of Black ethnicity decreasing after a two-year period of
                        increase. However, neonatal mortality for babies of Asian ethnicity increased for the second
                        year. Babies of both Asian and Black ethnicity continue to have much higher rates of neonatal
                        mortality than babies of White ethnicity (Asian: 2.50 per 1,000 live births; Black: 2.41 per
                        1,000 live births; White: 1.56 per 1,000 live births);</li>
                    <li>The most common causes of stillbirth and neonatal death were unchanged compared with 2021. The
                        cause of death remains unknown for one-third of stillborn babies, with placental issues being
                        the most common cause of death. For neonatal deaths, the most common cause was congenital
                        anomalies, which contributed to one-third of all neonatal deaths.</li>
                </ul>

                <p>The next MBRRACE-UK <i>Saving Lives, Improving Mothers' Care</i> confidential enquiry report into
                    maternal deaths in the UK will be published in October 2024. A full confidential enquiry into the
                    deaths of babies born to mothers recently arrived in the UK and experiencing language difficulties
                    will be published in December 2024. The details of the cases presented in the confidential enquiry
                    reports are strictly confidential but the reports will include brief anonymised summaries of the
                    care received by some parents and their babies as illustrative examples.</p>

                <p><b>Definitions</b></p>

                <p>Stillbirth: A baby born at or after 24 completed weeks' gestational age showing no signs of life,
                    irrespective of when the death occurred.</p>

                <p>Stillbirth rate: The number of babies who were stillborn as a proportion of all births in that year
                    (shown as the number of stillbirths per 1,000 total births).</p>

                <p>Neonatal death: A liveborn baby who died before 28 completed days after birth.</p>

                <p>Neonatal mortality rate: The number of babies who were liveborn but died before 28 completed days
                    after birth, as a proportion of all live births in that year (shown as the number of neonatal deaths
                    per 1,000 total births).</p>

                <p>Extended perinatal death: A stillbirth or neonatal death.</p>

                <p>Extended perinatal mortality rate: The number of stillbirth and neonatal deaths as a proportion of
                    all births in that year (shown as the number of extended perinatal deaths per 1,000 total births)
                </p>
            </div>

            <footer class="longform-content__companion">
                <div class="l-layout  l-row  l-row--push-apart  l-gutter--s  t-neutral  d-background--light">
                    <p class="l-layout__inner  c-utilitext">
                        <span>Updated: Monday, 15 July 2024 09:32 (v1)</span>
                        <a href="/administrator/index.php?option=com_content&amp;task=article.edit&amp;id=2570" target="_blank"" class=" u-padding--right--s"><span>Edit content</span><svg focusable="false" aria-hidden="true" width="1.25em" height="1.25em" display="none" class="icon  u-space--left--xs">
                                <use xlink:href="#icon-edit"></use>
                            </svg></a>
                    </p><!-- End layout-inner -->
                </div>
            </footer>
            <div class="longform-content__companion">
                <nav class="l-layout  l-row  l-row--push-apart  n-pagination">
                    <p class="l-layout__inner">
                        <span class="l-box">
                            <a href="/news/2573-making-patient-and-public-involvement-in-research-more-inclusive-2" rel="next"><svg focusable="false" aria-hidden="true" width="1.25em" height="1.25em" display="none">
                                    <use xlink:href="#icon-chevron-left"></use>
                                </svg><span>Newer article</span></a><span class="l-box__separator">&nbsp;&nbsp;|&nbsp;</span>
                        </span>
                        <span class="l-box  l-box--push-end">
                            <a href="/news/2567-npeu-presenting-at-the-joint-fetal-and-neonatal-societies-international-conference" rel="prev"><span>Older article</span><svg focusable="false" aria-hidden="true" width="1.25em" height="1.25em" display="none">
                                    <use xlink:href="#icon-chevron-right"></use>
                                </svg></a>
                        </span>
                    </p>
                </nav>

            </div>
        </div>

        <div class="l-primary-content__pull-out  l-primary-content__pull-out--bottom  page-sidebar">

            <div class="c-panel  c-panel--rounded  d-background--very-light  t-neutral  u-space--below  modstyle_sidebar  modstyle_sidebar--wrapper">
                <div class="c-panel__module  modstyle_sidebar  modstyle_sidebar--outer" aria-labelledby="latest-news">
                    <div>
                        <header class="c-panel__header" aria-labelledby="latest-news">
                            <div>
                                <h2 id="latest-news">Latest news</h2>
                                <p><a href="https://www.npeu.ox.ac.uk/news" class="c-cta">See all news<svg focusable="false" aria-hidden="true" width="1.25em" height="1.25em" display="none">
                                            <use xlink:href="#icon-chevron-right"></use>
                                        </svg></a></p>
                            </div>
                        </header>
                        <div class="mod_articles_latest  mod_articles_latest">
                            <div class="l-layout  l-row  l-gutter  l-flush-edge-gutter">
                                <ul class="l-layout__inner">
                                    <li class="l-box  ff-width-100--50--25">

                                        {% include card.html
                                            title="Pregnant women now a priority group for COVID-19 vaccination"
                                            url="/news/2194-pregnant-women-now-a-priority-group-for-covid-19-vaccination"
                                            img_src="/assets/images/npeu-news/bigstock-Female-Doctor-Taking-Dose-Of-C-434561738"
                                            img_alt=""
                                            img_h="100"
                                            cta="Read more"
                                            footer_extra="16 Dec 2021"
                                        %}
                                    </li>
                                    <li class="l-box  ff-width-100--50--25">

                                        {% include card.html
                                            title="Study finds a marked decline in women’s satisfaction with postnatal care during the COVID-19 pandemic, but many were satisfied with care during pregnancy and birth"
                                            url="/news/2192-study-finds-a-marked-decline-in-women-s-satisfaction-with-postnatal-care-during-the-covid-19-pandemic-but-many-were-satisfied-with-care-during-pregnancy-and-birth"
                                            img_src="/assets/images/npeu-news/You_and_Your_Baby_Logo__Mother_-_2020_-_NEWS"
                                            img_alt=""
                                            img_h="100"
                                            cta="Read more"
                                            footer_extra="09 Dec 2021"
                                        %}
                                    </li>
                                    <li class="l-box  ff-width-100--50--25">

                                        {% include card.html
                                            title="New report highlights persistent inequalities and continued inequitable care for pregnant women"
                                            url="/news/2188-new-report-highlights-persistent-inequalities-and-continued-inequitable-care-for-pregnant-women"
                                            img_src="/assets/images/npeu-news/MBRRACE-UK_-_blog_101121"
                                            img_alt=""
                                            img_h="100"
                                            cta="Read more"
                                            footer_extra="11 Nov 2021"
                                        %}
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="c-panel  c-panel--rounded  d-background--very-light  t-neutral  u-space--below  modstyle_sidebar  modstyle_sidebar--wrapper">
                <div class="c-panel__banner">
                    <div class="u-image-cover  js-image-cover  u-image-cover--min-50  u-image-cover--min-25--wide">
                        <div class="u-image-cover__inner">
                            <img class="u-image-cover__image" src="/assets/images/npeu/hero-image-old-road-campus-sign.jpg" alt="" width="600">
                        </div>
                    </div>
                </div>
                <div class="c-panel__module  modstyle_sidebar  modstyle_sidebar--outer">
                    <div>

                        <div class="user-content  mod_custom">
                            <p>For information on how to contact the NPEU, please view the <a href="https://www.npeu.ox.ac.uk/contact">contact details page</a></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<br id="highlighter-end" />