/*
    Featurettes
    ===========

    Note featurettes should only appear in the main body and fill the width, so media queries are
    ok here - we don't need to worry about other contexts and container-queries.
*/

$component-namespace: c- !default;

$featurette-breakpoint: 35em !default;

/*
    1. This is a hack for IE11, otherwise the container goes as wide as the children in a row.
*/
.#{$component-namespace}featurette {
    &#{&} {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        //padding-left: calc(8% - #{$s__sz-l});
        //padding-right: calc(8% - #{$s__sz-l});
        padding-left: $s__sz-m;
        padding-right: $s__sz-m;

        width: 0; /* [1] */
        min-width: 100%; /* [1] */
    }

    & > * {
        flex: 1 0 auto;

        width: 100%;
    }

    #{&}__image {
        align-self: center;
        margin-bottom: 0;
        margin-left: $s__sz-s;
        margin-right: $s__sz-s;
        position: relative;
        text-align: center;
        max-width: 13em;
        order: -1;

        & img {
            width: 100%;
        }

        &-link,
        &-link:hover {
            border-bottom: 0;
        }
    }

    #{&}__image--round {
        border-radius: 100%;
        overflow: hidden;
    }


    &#{&}--pull-image {
        margin-top: $s__sz-l + $s__sz-m;
    }

    &#{&}--pull-image #{&}__image {
        margin-top: -$s__sz-l;
        margin-bottom: $s__sz-m;
        align-self: flex-start;
    }


    #{&}__body {
        padding: $s__sz-m  calc(8% - #{$s__sz-s});

        max-width: 100%;
        width: calc((#{$featurette-breakpoint} - 100%) * 1000);


        // Featurettes are designed for Power Quotes, so putting these styles here, though they do
        // seem a little out of place:
        & > blockquote {
            margin-left: 0;
            margin-right: 0;
            background-color: transparent !important;
            color: inherit;

            border-top: 1px dotted currentColor;
            border-bottom: 1px dotted currentColor;
        }
    }

    #{&}__body,
    #{&}__body--50 {
        min-width: 50%;
    }

    #{&}__body--55 {
        min-width: 55%;
    }

    #{&}__body--60 {
        min-width: 60%;
    }

    #{&}__body--65 {
        min-width: 65%;
    }

    #{&}__body--70 {
        min-width: 70%;
    }

}
