/*
    Glimpse
    =======

    1. Note the use of :has in this pattern allows the image to have a hover effect if there's a
       title link, but browsers (at least FF) that don't support :has treat selectors with :has as
       invalid so the whoel declaration is ignored. To mitigate this, the :has selectors are
       composed slightly differently to normal, to preven minification form combing selectors and
       this causing the invalidation. This is done by adding redundent declarations.
*/

$component-namespace: c- !default;
/**/
$glimpse--breakpoint: 30rem !default;

//$glimpse--max-width: 30em !default;

$glimpse--image-size: 9.6rem !default;
$glimpse--image-size-large: 17.2rem !default;

$glimpse-heading--font-size: 1.8rem !default;
$glimpse-body--font-size:  1.4rem !default;
//$glimpse-footer--font-size:  1.4rem !default;

$__SEL: '.#{$component-namespace}glimpse';

/**/
#{$__SEL} {

    /*
        1. This is a hack for IE11, otherwise the container goes as wide as the children in a row.
    */
    &#{&} {
        position: relative;

        border-radius: $s__sz-s;
        padding: $s__sz-s $s__sz-m;

        display: flex;
        flex-direction: column;
        flex-grow: 1;
        height: 100%;

        background-color: #fff;

        /*
            Browser not supporting 'has' are just missing a hover effect - they would probably be
            non-the-wiser.
        */
        &:has(#{$__SEL}__title a)::before {
            content: "";
            display: block;
            position: absolute;

            background: #fff;

            width: $glimpse--image-size;
            height: $glimpse--image-size;

            border-radius: $s__sz-s;

            position: absolute;

            top: -#{($glimpse--image-size / 2) - $s__sz-s};
        }

        &:has(#{$__SEL}__title a):hover::before,
        &:has(#{$__SEL}__title a):active::before {
            box-shadow: $focus-shadow;
            color: inherit; /* [^1] */
            content: ""; /* [^1] */
            display: block; /* [^1] */
        }
    }

    /*
        The pattern markup allows for a TFS border, so zap that:
    */
    & > div {

        height: 100%;
        flex-grow: 1;

        border: 0;
        padding: 0;
        margin: 0;

        z-index: 1;
    }



    #{&}__body {
        max-width: 100%;
        width: calc((#{$glimpse--breakpoint} - 100%) * 1000);
        min-width: calc(100% - #{$glimpse--image-size + $s__sz-m});
        margin-left: auto;
    }

    #{&}__title {
        font-size: $glimpse-heading--font-size;
        line-height: $s__sz-m * 1.5;
        margin-bottom: 0;


        &::before {
            content: "";
            display: inline-block;

            height: #{($glimpse--image-size / 2) + $s__sz-s};

            max-width: 100%;
            width: calc((#{$glimpse--breakpoint} - 100%) * 1000);
            min-width: #{$glimpse--image-size + $s__sz-m};

            vertical-align: text-top;

            float: left;
        }

        a {
            text-decoration: none;

            &:hover,
            &:focus {
                text-decoration: none;
            }

             &::before {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                z-index: 1;
            }

            & span {
                position: relative;
                z-index: 2;
            }
        }
    }

    #{&}__body {
        font-size: $glimpse-body--font-size;
    }

    /*
        1. This prevents an issue where thin white lines can appear on some monitors with various
           zoom levels set.
           Noticed on a 48" monitor at 125% scale on Chrome, but not FF so probably a Chrome pixel
           rounding issue.
    */
    #{&}__image {
        width: $glimpse--image-size;
        height: $glimpse--image-size;

        border-radius: $s__sz-s;
        overflow: hidden;

        position: absolute;

        top: -#{($glimpse--image-size / 2) - $s__sz-s};


        background-color: hsl(var(--t-bd-color-h),var(--t-bd-color-s),var(--t-bd-color-l)); /* [1] */


        img[src] {
            border: 0;
            padding: 0;

            &:hover,
            &:active {
                border: 0;
            }
        }
    }

    &#{&}--image-large:has(#{$__SEL}__title a)::before {
        width: $glimpse--image-size * 1.5;
        height: $glimpse--image-size * 1.5;
        left: -#{$s__sz-m};
        color: inherit; /* [^1] */
    }

    &#{&}--image-large #{&}__image {
        width: $glimpse--image-size * 1.5;
        height: $glimpse--image-size * 1.5;
        left: -#{$s__sz-m};
    }

    &#{&}--image-large #{&}__title::before {
        height: #{($glimpse--image-size / 2) + $s__sz-l + $s__sz-s};

        width: calc((#{$glimpse--breakpoint + $s__sz-xl} - 100%) * 1000);
        min-width: #{$glimpse--image-size + $s__sz-m};
    }

    &#{&}--image-large #{&}__body {
        width: calc((#{$glimpse--breakpoint + $s__sz-xl} - 100%) * 1000);
        min-width: calc(100% - #{$glimpse--image-size + $s__sz-m});
    }

    &#{&}--image-round:has(#{$__SEL}__title a)::before {
        border-radius: 100%;
        color: inherit; /* [^1] */
    }

    &#{&}--image-round #{&}__image {
        border-radius: 100%;
    }
}


.#{$component-namespace}glimpse:focus-within,
.#{$component-namespace}glimpse:focus-within::before {
    box-shadow: $focus-shadow;
}


.#{$component-namespace}glimpse--has-js {
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
        box-shadow: $focus-shadow;
    }
}

.#{$component-namespace}glimpse--is-mousedown {
    .#{$component-namespace}card__title a::after {
        display: none;
    }
}