/*
    Glimpse
    =======
*/

$glimpse-namespace: c- !default;
/**/
$glimpse--breakpoint: 30rem !default;

//$glimpse--max-width: 30em !default;

$glimpse--image-size: 9.6rem !default;
$glimpse--image-size-large: 17.2rem !default;

$glimpse-heading--font-size: 1.8rem !default;
$glimpse-footer--font-size:  1.4rem !default;


.#{$glimpse-namespace}glimpse {
    /*
        1. This is a hack for IE11, otherwise the container goes as wide as the children in a row.
    */
    &#{&} {
        position: relative;

        border-radius: $s__sz-s;
        padding: $s__sz-s $s__sz-m;

        display: flex;
        flex-direction: column;
        flex-grow: 1;
        height: 100%;

        background-color: #fff;

        &::before {
            content: "";
            display: block;
            position: absolute;

            background: #fff;

            width: $glimpse--image-size;
            height: $glimpse--image-size;

            border-radius: $s__sz-s;

            position: absolute;

            top: -#{($glimpse--image-size / 2) - $s__sz-s};
        }

        &:hover::before,
        &:active::before {
            box-shadow: $focus-shadow;
        }
    }

    /*
        The pattern markup allows for a TFS border, so zap that:
    */
    & > div {

        height: 100%;
        flex-grow: 1;

        border: 0;
        padding: 0;
        margin: 0;

        z-index: 1;
    }



    #{&}__body {
        max-width: 100%;
        width: calc((#{$glimpse--breakpoint} - 100%) * 1000);
        min-width: calc(100% - #{$glimpse--image-size + $s__sz-m});
        margin-left: auto;
    }

    #{&}__title {
        font-size: $glimpse-heading--font-size;
        line-height: $s__sz-m * 1.5;
        margin-bottom: 0;


        &::before {
            content: "";
            display: inline-block;

            height: #{($glimpse--image-size / 2) + $s__sz-s};

            max-width: 100%;
            width: calc((#{$glimpse--breakpoint} - 100%) * 1000);
            min-width: #{$glimpse--image-size + $s__sz-m};

            vertical-align: text-top;

            float: left;
        }

        a {
            text-decoration: none;

            &:hover,
            &:focus {
                text-decoration: none;
            }

             &::before {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                z-index: 1;
            }

            & span {
                position: relative;
                z-index: 2;
            }
        }
    }

    #{&}__body {
        font-size: $glimpse-footer--font-size;
    }

    /*
        1. This prevents an issue where thin white lines can appear on some monitors with various
           zoom levels set.
           Noticed on a 48" monitor at 125% scale on Chrome, but not FF so probably a Chrome pixel
           rounding issue.
    */
    #{&}__image {
        width: $glimpse--image-size;
        height: $glimpse--image-size;

        border-radius: $s__sz-s;
        overflow: hidden;

        position: absolute;

        top: -#{($glimpse--image-size / 2) - $s__sz-s};


        background-color: hsl(var(--t-bd-color-h),var(--t-bd-color-s),var(--t-bd-color-l)); /* [1] */


        img[src] {
            border: 0;
            padding: 0;

            &:hover,
            &:active {
                border: 0;
            }
        }
    }

    &#{&}--image-large::before {
        width: $glimpse--image-size * 1.5;
        height: $glimpse--image-size * 1.5;
        left: -#{$s__sz-m};
    }

    &#{&}--image-large #{&}__image {
        width: $glimpse--image-size * 1.5;
        height: $glimpse--image-size * 1.5;
        left: -#{$s__sz-m};
    }

    &#{&}--image-large #{&}__title::before {
        height: #{($glimpse--image-size / 2) + $s__sz-l + $s__sz-s};

        width: calc((#{$glimpse--breakpoint + $s__sz-xl} - 100%) * 1000);
        min-width: #{$glimpse--image-size + $s__sz-m};
    }

    &#{&}--image-large #{&}__body {
        width: calc((#{$glimpse--breakpoint + $s__sz-xl} - 100%) * 1000);
        min-width: calc(100% - #{$glimpse--image-size + $s__sz-m});
    }

    &#{&}--image-round {
        &::before {
            border-radius: 100%;
        }
    }

    &#{&}--image-round #{&}__image {
        border-radius: 100%;
    }
}


.#{$glimpse-namespace}glimpse:focus-within,
.#{$glimpse-namespace}glimpse:focus-within::before {
    box-shadow: $focus-shadow;
}


.#{$glimpse-namespace}glimpse--has-js {
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
        box-shadow: $focus-shadow;
    }
}

.#{$glimpse-namespace}glimpse--is-mousedown {
    .#{$glimpse-namespace}card__title a::after {
        display: none;
    }
}