/*
    Info Overlay
    ============
*/
@use 'sass:math';

$component-namespace: c- !default;

$info-overlay-breakpoint: 35rem !default;
$info-overlay-max-message-breakpoint: 100rem !default;
$info-overlay-min-message-size: 20px !default;
$info-overlay-max-message-size: 52px !default;

.#{$component-namespace}info-overlay-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
}



.#{$component-namespace}info-overlay {
    &#{&} {
        padding: 0;
        margin: 0;
        border: 0;
    }


    &#{&} > summary {
        color: #fff;
        background: rgba(0,0,0,0.5);

        width: #{$s__sz-m};
        height: #{$s__sz-m};
        padding: 0;

        margin-top: -#{$s__sz-m + $s__sz-xs};
        margin-right: 0;
        margin-bottom: $s__sz-xs;
        margin-left: 0;


        position: relative;
        left: #{$s__sz-s};

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 100%;


        & > span:first-child {
            display: none;
        }

        /*
            Safari 14.1- has a bug which mean a flexbox summary doesn't properly center it's contents.
            I'm fudging this by adding margin to the svg.
            Note the 1.25em is a really a 'magic number', but it's what's used for all icons and
            is unlikely to change.
        */
        & > svg {
            margin: calc(math.div($s__sz-m, 2) - math.div(1.25em, 2));
        }

        & > svg:nth-child(2) {
            display: block;
        }

        & > svg:last-child {
            display: none;
        }

        &::before {
            display: none;
        }

        &:hover {
            color: #222;
            background: rgba(255,255,255,0.8);
        }
    }

    &#{&}--from-right > summary {
        left: auto;
        right: #{$s__sz-s};
    }

    &#{&} > summary + * {
        padding: $s__sz-m;
        font-size: 0.875em;

        background: #333;
        color: #fff;
    }

    &#{&}[open] {
        position: relative;

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: -$s__sz-xs;
            left: #{$s__sz-s + $s__sz-xs};
            width: 0px;
            height: 0px;
            border-left: $s__sz-xs solid transparent;
            border-right: $s__sz-xs solid transparent;
            border-bottom: $s__sz-xs solid #333;
        }

        & > summary {
            margin-top: -#{$s__sz-m + $s__sz-xs};
            margin-bottom: $s__sz-xs;

            & > svg:nth-child(2) {
                display: none;
            }

            & > svg:last-child {
                display: block;
            }
        }
    }

    &#{&}--from-right > summary {
        left: calc(100% - 2.4rem - 1.2rem);
    }

    &#{&}--from-right[open]::before {
        left: auto;
        right: #{$s__sz-s + $s__sz-xs};
    }
}



@media only screen and (min-width: $info-overlay-breakpoint) {

    .#{$component-namespace}info-overlay {
        &#{&} {
            position: absolute;
            top: 0;
            color: #fff;
            background: rgba(0,0,0,0.8);
            width: 100%;

            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 0;


            text-align: left;
            z-index: 2;

            //a[href],
            //a[href]:hover,
            //a[href]:focus,
            //a[href]:active {
            //    color: #fff;
            //}
        }

        &#{&} > summary {
            position: absolute;
            bottom: auto;
            top: #{$s__sz-s};

            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 0;
        }

        &#{&}[open] {
            position: absolute;
            width: auto;


            &::before {
                display: none;
            }

            & > summary {
                //top: #{$s__sz-xs};


                margin-top: 0;
                margin-right: 0;
                margin-bottom: 0;
                margin-left: 0;

                /*& > svg:nth-child(2) {
                    display: none;
                }

                & > svg:last-child {
                    display: inline;
                }*/
            }
        }

        &#{&} > summary + * {
            //max-width: calc(100% - #{$s__sz-m});
            padding: $s__sz-s $s__sz-m $s__sz-s #{$s__sz-l + $s__sz-m};
            background: transparent;
        }

        &#{&}--from-right[open] {
            right: 0;
        }

        &#{&}--from-right > summary + * {
            padding: $s__sz-s #{$s__sz-l + $s__sz-m} $s__sz-s $s__sz-m;
        }

        * {
            margin: 0;
        }

        &#{&}--full-width[open] {
            width: 100%;
        }

        &#{&}--half-width[open] {
            width: 50%;
        }

    }
}