/*
    Thumbnail
    ========
*/

$component-namespace: c- !default;


/*
    1. IE11. Without this thumbnails can break out of their wrapper. E.g. Contact page.
*/
.#{$component-namespace}thumbnail {

    &#{&}[href] {
        display: inline-block;
         max-width: 100%; /* [1] */

        border-width: 0;
        padding: 0;
        margin: 0;

        &:hover,
        &:active,
        &:focus {
            box-shadow: $focus-shadow;
            border-width: 0;
            padding: 0;
            margin: 0;
        }

        & img {
            margin: 0;
            padding: 0;
            border-width: 0;
            outline: 0.1rem solid currentColor;
            height: auto;
        }
    }
}