<!--

    GALLERY GRID

-->

<p>
Gallery Grids are intended for lists or list-like structures where there is usually a large, unknown quantity of items that need to be presented in a neat and tidy fashion.
</p>

<div class="l-layout  l-gallery-grid  l-gallery-grid--basis-20">
    <ul class="l-layout__inner">
        <li class="l-box">
            <div class="t-box-1">
                <p>
                    AAAA This is some content in the box. This is some content in the box.
                </p>
                <p>
                    BBBB This is some content in the box
                </p>
            </div>
        </li>
        <li class="l-box">
            <div class="t-box-1">
                <p>
                    CCCC This is some content in the box
                </p>
            </div>
        </li>
        <li class="l-box">
            <div class="t-box-1">
                <p>
                    DDDD This is some content in the box. This is some content in the box.
                </p>
                <p>
                    EEEE This is some content in the box
                </p>
            </div>
        </li>
        <li class="l-box">
            <div class="t-box-1">
                <p>
                    FFFF This is some content in the box
                </p>
            </div>
        </li>
        <li class="l-box">
            <div class="t-box-1">
                <p>
                    FFFF This is some content in the box
                </p>
            </div>
        </li>
        <li class="l-box">
            <div class="t-box-1">
                <p>
                    FFFF This is some content in the box
                </p>
            </div>
        </li>
        <li class="l-box">
            <div class="t-box-1">
                <p>
                    FFFF This is some content in the box
                </p>
            </div>
        </li>
        <li class="l-box">
            <div class="t-box-1">
                <p>
                    FFFF This is some content in the box
                </p>
            </div>
        </li>
        <li class="l-box">
            <div class="t-box-1">

                <p>
                    GGGG This is some content in the box
                </p>
                <p>
                    HHHH This is some content in the box. This is some content in the box.
                </p>
            </div>
        </li>
    </ul>
</div>

<p>
Same again, but with a small gutter.
</p>

<div class="l-layout  l-gallery-grid  l-gallery-grid--gutter--small  l-gallery-grid--basis-20">
    <ul class="l-layout__inner">
        <li class="l-box">
            <div class="t-box-1">
                <p>
                    AAAA This is some content in the box. This is some content in the box.
                </p>
                <p>
                    BBBB This is some content in the box
                </p>
            </div>
        </li>
        <li class="l-box">
            <div class="t-box-1">
                <p>
                    CCCC This is some content in the box
                </p>
            </div>
        </li>
        <li class="l-box">
            <div class="t-box-1">
                <p>
                    DDDD This is some content in the box. This is some content in the box.
                </p>
                <p>
                    EEEE This is some content in the box
                </p>
            </div>
        </li>
        <li class="l-box">
            <div class="t-box-1">
                <p>
                    FFFF This is some content in the box
                </p>
            </div>
        </li>
        <li class="l-box">
            <div class="t-box-1">
                <p>
                    FFFF This is some content in the box
                </p>
            </div>
        </li>
        <li class="l-box">
            <div class="t-box-1">
                <p>
                    FFFF This is some content in the box
                </p>
            </div>
        </li>
        <li class="l-box">
            <div class="t-box-1">
                <p>
                    FFFF This is some content in the box
                </p>
            </div>
        </li>
        <li class="l-box">
            <div class="t-box-1">
                <p>
                    FFFF This is some content in the box
                </p>
            </div>
        </li>
        <li class="l-box">
            <div class="t-box-1">

                <p>
                    GGGG This is some content in the box
                </p>
                <p>
                    HHHH This is some content in the box. This is some content in the box.
                </p>
            </div>
        </li>
    </ul>
</div>

<p>
Same again, but with a medium gutter.
</p>

<div class="l-layout  l-gallery-grid  l-gallery-grid--gutter--medium  l-gallery-grid--basis-20">
    <ul class="l-layout__inner">
        <li class="l-box">
            <div class="t-box-1">
                <p>
                    AAAA This is some content in the box. This is some content in the box.
                </p>
                <p>
                    BBBB This is some content in the box
                </p>
            </div>
        </li>
        <li class="l-box">
            <div class="t-box-1">
                <p>
                    CCCC This is some content in the box
                </p>
            </div>
        </li>
        <li class="l-box">
            <div class="t-box-1">
                <p>
                    DDDD This is some content in the box. This is some content in the box.
                </p>
                <p>
                    EEEE This is some content in the box
                </p>
            </div>
        </li>
        <li class="l-box">
            <div class="t-box-1">
                <p>
                    FFFF This is some content in the box
                </p>
            </div>
        </li>
        <li class="l-box">
            <div class="t-box-1">
                <p>
                    FFFF This is some content in the box
                </p>
            </div>
        </li>
        <li class="l-box">
            <div class="t-box-1">
                <p>
                    FFFF This is some content in the box
                </p>
            </div>
        </li>
        <li class="l-box">
            <div class="t-box-1">
                <p>
                    FFFF This is some content in the box
                </p>
            </div>
        </li>
        <li class="l-box">
            <div class="t-box-1">
                <p>
                    FFFF This is some content in the box
                </p>
            </div>
        </li>
        <li class="l-box">
            <div class="t-box-1">

                <p>
                    GGGG This is some content in the box
                </p>
                <p>
                    HHHH This is some content in the box. This is some content in the box.
                </p>
            </div>
        </li>
    </ul>
</div>


<p>
Same again, but with a large gutter.
</p>

<div class="l-layout  l-gallery-grid  l-gallery-grid--gutter--large  l-gallery-grid--basis-20">
    <ul class="l-layout__inner">
        <li class="l-box">
            <div class="t-box-1">
                <p>
                    AAAA This is some content in the box. This is some content in the box.
                </p>
                <p>
                    BBBB This is some content in the box
                </p>
            </div>
        </li>
        <li class="l-box">
            <div class="t-box-1">
                <p>
                    CCCC This is some content in the box
                </p>
            </div>
        </li>
        <li class="l-box">
            <div class="t-box-1">
                <p>
                    DDDD This is some content in the box. This is some content in the box.
                </p>
                <p>
                    EEEE This is some content in the box
                </p>
            </div>
        </li>
        <li class="l-box">
            <div class="t-box-1">
                <p>
                    FFFF This is some content in the box
                </p>
            </div>
        </li>
        <li class="l-box">
            <div class="t-box-1">
                <p>
                    FFFF This is some content in the box
                </p>
            </div>
        </li>
        <li class="l-box">
            <div class="t-box-1">
                <p>
                    FFFF This is some content in the box
                </p>
            </div>
        </li>
        <li class="l-box">
            <div class="t-box-1">
                <p>
                    FFFF This is some content in the box
                </p>
            </div>
        </li>
        <li class="l-box">
            <div class="t-box-1">
                <p>
                    FFFF This is some content in the box
                </p>
            </div>
        </li>
        <li class="l-box">
            <div class="t-box-1">

                <p>
                    GGGG This is some content in the box
                </p>
                <p>
                    HHHH This is some content in the box. This is some content in the box.
                </p>
            </div>
        </li>
    </ul>

    <p>
        Same again, but with a large gutter and equal height rows.
        </p>

        <div class="l-layout  l-gallery-grid  l-gallery-grid--gutter--large  l-gallery-grid--basis-20  l-gallery-grid--equal-rows">
            <ul class="l-layout__inner">
                <li class="l-box">
                    <div class="t-box-1">
                        <p>
                            AAAA This is some content in the box. This is some content in the box.
                        </p>
                        <p>
                            BBBB This is some content in the box
                        </p>
                    </div>
                </li>
                <li class="l-box">
                    <div class="t-box-1">
                        <p>
                            CCCC This is some content in the box
                        </p>
                    </div>
                </li>
                <li class="l-box">
                    <div class="t-box-1">
                        <p>
                            DDDD This is some content in the box. This is some content in the box.
                        </p>
                        <p>
                            EEEE This is some content in the box
                        </p>
                    </div>
                </li>
                <li class="l-box">
                    <div class="t-box-1">
                        <p>
                            FFFF This is some content in the box
                        </p>
                    </div>
                </li>
                <li class="l-box">
                    <div class="t-box-1">
                        <p>
                            FFFF This is some content in the box
                        </p>
                    </div>
                </li>
                <li class="l-box">
                    <div class="t-box-1">
                        <p>
                            FFFF This is some content in the box
                        </p>
                    </div>
                </li>
                <li class="l-box">
                    <div class="t-box-1">
                        <p>
                            FFFF This is some content in the box
                        </p>
                    </div>
                </li>
                <li class="l-box">
                    <div class="t-box-1">
                        <p>
                            FFFF This is some content in the box
                        </p>
                    </div>
                </li>
                <li class="l-box">
                    <div class="t-box-1">

                        <p>
                            GGGG This is some content in the box
                        </p>
                        <p>
                            HHHH This is some content in the box. This is some content in the box.
                        </p>
                    </div>
                </li>
            </ul>
</div>