<!--

    GALLERY GRID - GLIMPSES

-->

<div class="u-space--above--l">
    <div class="l-layout  l-gallery-grid  l-gallery-grid--gutter--medium  l-gallery-grid--basis-20">
        <ul class="l-layout__inner">
            <li class="l-box  u-space--below">
                {% include glimpse.html
                    title="Person Name"
                    url="/patterns/component"
                    content="<p>Job title</p>"
                    img_src="/assets/images/patterns/placeholder-person"
                    round_img=true
                %}
            </li>
            <li class="l-box  u-space--below">
                {% include glimpse.html
                    title="Personwitha Longernamethanusual-Smith"
                    url="/patterns/component"
                    content="<p>Job title</p>"
                    img_src="/assets/images/patterns/placeholder-person"
                    round_img=true
                %}
            </li>
            <li class="l-box  u-space--below">
                {% include glimpse.html
                    title="Person Name"
                    url="/patterns/component"
                    content="<p>Job title</p>"
                    img_src="/assets/images/patterns/placeholder-person"
                    round_img=true
                %}
            </li>
            <li class="l-box  u-space--below">
                {% include glimpse.html
                    title="Personwitha Longernamethanusual-Smith"
                    url="/patterns/component"
                    content="<p>Job title</p>"
                    img_src="/assets/images/patterns/placeholder-person"
                    round_img=true
                %}
            </li>
            <li class="l-box  u-space--below">
                {% include glimpse.html
                    title="Person Name"
                    url="/patterns/component"
                    content="<p>Job title</p>"
                    img_src="/assets/images/patterns/placeholder-person"
                    round_img=true
                %}
            </li>
            <li class="l-box  u-space--below">
                {% include glimpse.html
                    title="Personwitha Longernamethanusual-Smith"
                    url="/patterns/component"
                    content="<p>Averymuch longerthanusual job title / Anotherlong positionorjob title</p>"
                    img_src="/assets/images/patterns/placeholder-person"
                    round_img=true
                %}
            </li>
            <li class="l-box  u-space--below">
                {% include glimpse.html
                    title="Person Name"
                    url="/patterns/component"
                    content="<p>Job title</p>"
                    img_src="/assets/images/patterns/placeholder-person"
                    round_img=true
                %}
            </li>
            <li class="l-box  u-space--below">
                {% include glimpse.html
                    title="Personwitha Longernamethanusual-Smith"
                    url="/patterns/component"
                    content="<p>Averymuch longerthanusual job title / Anotherlong positionorjob title</p>"
                    img_src="/assets/images/patterns/placeholder-person"
                    round_img=true
                %}
            </li>
            <li class="l-box  u-space--below">
                {% include glimpse.html
                    title="Person Name"
                    url="/patterns/component"
                    content="<p>Job title</p>"
                    img_src="/assets/images/patterns/placeholder-person"
                    round_img=true
                %}
            </li>
            <li class="l-box  u-space--below">
                {% include glimpse.html
                    title="Personwitha Longernamethanusual-Smith"
                    url="/patterns/component"
                    content="<p>Averymuch longerthanusual job title / Anotherlong positionorjob title</p>"
                    img_src="/assets/images/patterns/placeholder-person"
                    round_img=true
                %}
            </li>
            <li class="l-box  u-space--below">
                {% include glimpse.html
                    title="Person Name"
                    url="/patterns/component"
                    content="<p>Job title</p>"
                    img_src="/assets/images/patterns/placeholder-person"
                    round_img=true
                %}
            </li>
            <li class="l-box  u-space--below">
                {% include glimpse.html
                    title="Personwitha Longernamethanusual-Smith"
                    url="/patterns/component"
                    content="<p>Averymuch longerthanusual job title / Anotherlong positionorjob title</p>"
                    img_src="/assets/images/patterns/placeholder-person"
                    round_img=true
                %}
            </li>
            <li class="l-box  u-space--below">
                {% include glimpse.html
                    title="Person Name"
                    url="/patterns/component"
                    content="<p>Job title</p>"
                    img_src="/assets/images/patterns/placeholder-person"
                    round_img=true
                %}
            </li>
            <li class="l-box  u-space--below">
                {% include glimpse.html
                    title="Personwitha Longernamethanusual-Smith"
                    url="/patterns/component"
                    content="<p>Averymuch longerthanusual job title / Anotherlong positionorjob title</p>"
                    img_src="/assets/images/patterns/placeholder-person"
                    round_img=true
                %}
            </li>
            <li class="l-box  u-space--below">
                {% include glimpse.html
                    title="Person Name"
                    url="/patterns/component"
                    content="<p>Job title</p>"
                    img_src="/assets/images/patterns/placeholder-person"
                    round_img=true
                %}
            </li>
            <li class="l-box  u-space--below">
                {% include glimpse.html
                    title="Personwitha Longernamethanusual-Smith"
                    url="/patterns/component"
                    content="<p>Averymuch longerthanusual job title / Anotherlong positionorjob title</p>"
                    img_src="/assets/images/patterns/placeholder-person"
                    round_img=true
                %}
            </li>
            <li class="l-box  u-space--below">
                {% include glimpse.html
                    title="Person Name"
                    url="/patterns/component"
                    content="<p>Job title</p>"
                    img_src="/assets/images/patterns/placeholder-person"
                    round_img=true
                %}
            </li>
            <li class="l-box  u-space--below">
                {% include glimpse.html
                    title="Personwitha Longernamethanusual-Smith"
                    url="/patterns/component"
                    content="<p>Averymuch longerthanusual job title / Anotherlong positionorjob title</p>"
                    img_src="/assets/images/patterns/placeholder-person"
                    round_img=true
                %}
            </li>
        </ul>
    </div>
</div>