<!--

    BORDER AND BACKGROUND

-->


<h2 id="border">Border and Background</h2>

<p>Testing different tints on the same element.</p>



<div class="s-example--padded--outer  u-space--below  d-border--thick  d-background--very-light">
    <p>
        Text text <a href="#">Testing a link</a>
        d-border--thick  d-background--very-light
    </p>
</div>

<div class="s-example--padded--outer  u-space--below  d-border--thick  d-border--light  d-background--dark">
    <p>
        Text text <a href="#">Testing a link</a>
        d-border--thick  d-border--very-light  d-background--dark
    </p>
</div>
