---
layout: structure--pattern
title:  Primary content - with super pull-out only
---

{% include pull-out-top.html %}

<div class="l-primary-content  l-primary-content--has-pull-outs">

    <div class="l-primary-content__pull-out  l-primary-content__pull-out--super">
        <div class="l-center">
            <a href="/surfon" class="c-badge  c-badge--page-brand">
                <img src="/assets/images/brand-logos/unit/surfon-logo.svg" onerror="this.src='/img/brand-logos/unit/surfon-logo.png'; this.onerror=null;" alt="Elfin Logo Badge" height="80">
            </a>
        </div>
    </div>

    <div class="l-primary-content__header">
        <div class="c-panel">
            <header class="c-panel__header">
                <h1>Primary content heading</h1>
            </header>
        </div>
    </div>

    <div class="l-primary-content__main">
        <div class="longform-content  user-content">

            <h2>Primary content - main content section</h2>

            <p>
                Suspendisse pellentesque, elit et laoreet gravida, nunc arcu eleifend sem, luctus pellentesque diam lorem quis justo. Curabitur id ex id tellus viverra cursus. In faucibus et nunc ut egestas. Suspendisse accumsan mi id maximus gravida. Donec vitae nunc ex. Quisque gravida ultricies sapien viverra tristique. Ut vitae libero viverra, faucibus dolor semper, dignissim lectus.
            </p>

            <p>
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque tincidunt lorem sit amet enim congue, non molestie arcu aliquam. Vestibulum sagittis feugiat vulputate. Sed pharetra aliquam diam, eu euismod quam ullamcorper in. Sed a tempor tellus. Suspendisse in tellus hendrerit, aliquam ipsum nec, faucibus neque. Fusce a neque urna.
            </p>

            <p>
                Maecenas vehicula, felis a tincidunt ultrices, ante velit aliquet lectus, sed sollicitudin libero tellus at elit. Fusce eget quam et tortor gravida hendrerit. In urna libero, vulputate sit amet mauris eget, efficitur luctus tortor.
            </p>

            <details>
                <summary>More content</summary>
                <div>
                    <p>
                        Suspendisse pellentesque, elit et laoreet gravida, nunc arcu eleifend sem, luctus pellentesque diam lorem quis justo. Curabitur id ex id tellus viverra cursus. In faucibus et nunc ut egestas. Suspendisse accumsan mi id maximus gravida. Donec vitae nunc ex. Quisque gravida ultricies sapien viverra tristique. Ut vitae libero viverra, faucibus dolor semper, dignissim lectus.
                    </p>

                    <p>
                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque tincidunt lorem sit amet enim congue, non molestie arcu aliquam. Vestibulum sagittis feugiat vulputate. Sed pharetra aliquam diam, eu euismod quam ullamcorper in. Sed a tempor tellus. Suspendisse in tellus hendrerit, aliquam ipsum nec, faucibus neque. Fusce a neque urna.
                    </p>

                    <p>
                        Maecenas vehicula, felis a tincidunt ultrices, ante velit aliquet lectus, sed sollicitudin libero tellus at elit. Fusce eget quam et tortor gravida hendrerit. In urna libero, vulputate sit amet mauris eget, efficitur luctus tortor.
                    </p>
                </div>
            </details>

        </div>
    </div>

</div>
